[2010-02-17 03:41] eadz opened #1 "Issue with ruby 1.9.1"
When installing the plugin I get

/vendor/plugins/shopify_app/install.rb:8: invalid multibyte char (US-ASCII)

It's the fancy quotes that's doing it.

[2010-02-17 04:06] #1 closed, assigned to nobody

[2010-09-07 11:50] blutack opened #2 "Rails 3 generator compatibility"
Hi guys,

I get the following warning when trying to run rake rails:upgrade:check while preparing our app for R3.

[code]

Thanks guys!

[2010-09-07 11:53] #2 closed, assigned to nobody

[2011-11-22 16:56] edward opened #6 "generator not found using Rails 3.1.2"
At the Shopify Hackfest last Saturday, a participant reported not being able to use the Shopify app generator with a fresh app created using Rails 3.1.2

[2012-02-03 23:02] tobi opened #7 "Use bootstrap gem instead of including it"
https://github.com/metaskills/less-rails-bootstrap

Just an idea, may make the repository a bit more lightweight.

[2012-03-06 15:22] tobi opened #8 "LoginController should be made restful"
Currently the generated login controller litters routes.rb with custom routes that are not necissary if the controller acts as RESTful controller on a shopify session.

[2012-03-06 15:22] tobi opened #9 "Improve error message when shopify_session isn't active"
We should be able to detect errors that come from accessing a Shopify model outside of a shopify_session blog. In this case we should raise a helpful error message.
@gissues:{"order":71.42857142857142,"status":"backlog"}

[2012-03-27 21:42] jkt3000 opened #11 "build gem"
@edward, @davefp

Can either of you bump the version number and build a new gem for this? I merge the stylesheet fix and fixed a few broken routes.

[2012-03-28 19:16] #11 closed, assigned to nobody

[2012-03-29 14:38] jkt3000 opened #12 "sample products listing does not wrap images properly"
@warrendunlop

The product listing does not show images properly - it overflows the div container when there is limited text.

See attached screenshot: http://cl.ly/3Y3B0X3b1y3m390u2d1M

[2012-05-17 13:15] leonardteo opened #14 "NoMethodError in LoginController#authenticate"
I tried a vanilla install of the shopify_app.

On this page:
http://localhost:3000/login

When you provide the subdomain or the URL and click Install, I get:

NoMethodError in LoginController#authenticate

undefined method `create_permission_url' for #ShopifyAPI::Session:0x00000104397c90
Rails.root: /Users/leonardteo/Documents/railsprojects/shopify_test

Application Trace | Framework Trace | Full

[2012-06-02 23:34] carolineschnapp opened #15 "Cannot create app"
I have:
- Ruby 1.9.3p125 (2012-02-16 revision 34643) [x86_64-darwin10.8.0]
- Rails 3.2.3

I went through those steps:

[code]

As the app was generated I was asked to confirm the overwrite of all those files:
- app/assets/javascripts/application.js
- app/assets/stylesheets/application.css
- app/views/layouts/application.html.erb
- public/404.html
- public/422.html
- public/500.html

Then I went...

[2012-06-05 20:28] #15 closed, assigned to nobody

[2012-06-11 03:01] Davidslv opened #16 "LoginController#authenticate - undefined method 'create_permission_url'"
EDIT : I moved this issue to shopify_api, here -> https://github.com/Shopify/shopify_api/issues/29
Hi Everyone,

Everytime I want to login with one of my Test Shops I get this error:

![error](https://dl.dropbox.com/u/3843967/shopify/error.png)

The only thing I have in that line is

![code](https://dl.dropbox.com/u/3843967/shopify/line_error.png)

Sometimes I get this error in my application, and

[2012-06-11 13:42] #16 closed, assigned to nobody

[2012-06-12 14:17] #7 closed, assigned to rziehl

[2012-06-12 14:46] #6 closed, assigned to jduff

[2012-06-12 15:57] #14 closed, assigned to nobody

[2012-06-12 20:07] #12 closed, assigned to warrendunlop

[2012-06-13 20:51] saintsjd opened #18 "Include in README a short description of how to define permission scope"
New to shopify_app and so far it is great.

We should include a short explanation in the README of how to set permission "scope" for api access.

The API documentation mentions Scopes, but I am not sure how/where to define the scope when using shopify app.
http://api.shopify.com/authentication.html

Thank you,
Jon

[2012-06-14 14:08] #18 closed, assigned to nobody

[2012-06-18 20:38] jnormore opened #22 "omniauth.rb file not copied during new app generation"
During new app creation

rails generate shopify_app <key> <secret>

does not copy config/initializers/omniauth.rb to new app.

To replicate:
1. rails new test-app
2. echo "gem 'shopify_app'" >> Gemfile
3. bundle install
4. rails generate shopify_app <API KEY> <SHARED SECRET>

Expected results:

config/initializers/omniauth.rb file is copied to new app.

Current output:

$ rails generate shopify_ap

[2012-06-19 23:42] saintsjd opened #23 "default install of shopify_app does not deploy cleanly to Heroku cedar stack"
The shopify_app code does not cleanly deploy to Heroku Cedar Stack with rails 3.2. A number of errors appear:

Steps to reproduce:
1) create a new rails app
2) deploy to heroku cedar (notice that the app works)
3) install the shopify_app
4) deploy to heroku cedar stack and notice the following errors

When running heroku run rake db:migrate...
DEPRECATION WARNING: You have Rails 2.3-style plugins

[2012-06-21 14:19] #23 closed, assigned to nobody

[2012-07-02 08:38] galenking opened #24 "No bootstrap (or any CSS) on Rails 3.2.6"
Any ideas why no CSS? What have I done wrong?

Thanks :)

[2012-09-17 05:27] #22 closed, assigned to nobody

[2012-09-17 05:33] #24 closed, assigned to nobody

[2012-10-01 12:00] #8 closed, assigned to nobody

[2012-10-01 19:26] guinevere-k opened #29 "therubyracer dependency issues in Windows"
Encountering issues in Windows 7, Ruby 1.9.3, Rails 3.2.8.
Running rails server after generating the Shopify app gives the following error:
        [WARNING] Please install gem 'therubyracer' to use Less.
The gem therubyracer is not compatible with Windows. The dependency is coming from twitter-bootstrap/LESS. Adding the following line to the Gemfile:
        gem 'twitter-bootstrap-rails', :git =>

[2012-12-04 20:39] ttringas opened #31 "clean deploy gets Faraday Error"
I'm on OSX Mountain Lion with a completely fresh setup. Generate the app, fire up rails server, after entering store and click install, authentication fails with the following error.

https://gist.github.com/4208432

[2012-12-17 11:29] Ranjithkumar opened #33 "Error while doing ShopifyAPI::RecurringApplicationCharge.create()"
Hi

I am getting this error while creating recurring payment and while calling ShopifyAPI::RecurringApplicationCharge.current

undefined method `path' for nil:NilClass

My error is:
undefined method `path' for nil:NilClass

Rails.root: /Users/admin/Sites/projects/rails3/MyApp
Application Trace | Framework Trace | Full Trace

app/controllers/application_controller.rb:18:in create_merchant_payment'

[2013-01-04 23:01] Meekohi opened #35 "Error in `generate shopify_app` - Rails 3.2.10, Ruby 1.8.7"
meekohi ~/aball.web/shopify-arqspin$ rails generate shopify_app APIKEY SECRET
Faraday: you may want to install system_timer for reliable timeouts
/Library/Ruby/Gems/1.8/gems/shopify_app-4.1.0/lib/shopify_app.rb:15:in `require': /Library/Ruby/Gems/1.8/gems/shopify_app-4.1.0/lib/shopify_app/login_protection.rb:5: syntax error, unexpected ':', expecting kEND (SyntaxError)
...rce::UnauthorizedAccess,

[2013-01-05 03:26] #35 closed, assigned to nobody

[2013-01-08 16:42] Meekohi opened #36 "More uses of new hash syntax. Breaks in Ruby 1.8"
[code]

@gissues:{"order":14.285714285714276,"status":"backlog"}

[2013-01-10 22:15] Meekohi opened #37 "No documentation"
http://api.shopify.com/index.html doesn't have a Ruby/Rails section. For example, how would I figure out that `ShopifyAPI::ScriptTag.create` maps to `POST /admin/script_tags.json`? In particular, how do I add a Product Image to a Product?
@gissues:{"order":85.71428571428571,"status":"backlog"}

[2013-03-20 00:36] carolineschnapp opened #42 "Faraday::Error::ConnectionFailed error when accessing app."
Hey guys,

I just generated an app using shopify_app. I have done this before. I know how to do that.

I am using Ruby 1.9.3p194 with Rails 3.2.12, on MacOS Mountain Lion.

When I install the app in a store, I get this error:

[code]

The app seems installed, I just can't access it.

Sample of Full Trace leading to error:

[code]

[2013-03-27 11:27] #37 closed, assigned to nobody

[2013-03-27 11:29] #36 closed, assigned to nobody

[2013-03-27 11:31] #31 closed, assigned to jduff

[2013-03-27 11:33] #29 closed, assigned to nobody

[2013-04-12 20:33] #42 closed, assigned to jduff

[2013-04-22 18:34] vfilesgroup opened #47 "License?"
Hi,

What license is this shopify_app released under?

[2013-07-09 19:08] murdoch opened #59 "Can we use Zurb Foundation instead of Bootstrap?"
We are using using Zurb Foundation and don't want to use bootstrap in our shopify app.

Is there anything we can do?

[2013-07-09 19:13] #59 closed, assigned to nobody

[2013-07-24 21:23] #47 closed, assigned to nobody

[2013-08-12 20:29] sfielder opened #61 "Issues w/ Shopify_app using Resque"
I continue to receive undefined method `path' for nil:NilClass at the below line.

ShopifyAPI::Webhook.create(:address => "#{url}/#{wh.address}/webhook.json", :format => "#{wh.format}", :topic => "#{wh.topic}", :access_token => Shop.find(shop_id).access_token)

Any thoughts?

[2013-08-30 11:57] mishrarohit opened #62 "Openssl issues with the gem on Ubuntu 12.04"
Hi,

I am able to use this gem without any issue on my development machine where I am using Pow, Nginx and a self-signed SSL certificate, but on production, once the user does the OAuth login from Shopify, the `/auth/shopify/callback?params..` request results in a `502` error.

I am only facing this issue after adding SSL to the app.

This issue has been discussed earlier on Stackoverflow and Shop

[2013-09-02 19:40] #62 closed, assigned to nobody

[2013-09-27 18:08] celsodantas opened #64 "Add tests to the generators' templates."
There's no tests for any of them

[2013-09-27 18:08] celsodantas opened #65 "Add tests to the generators' templates."
There's no tests for any of them

[2013-11-21 21:44] rngtng opened #68 "couldn't find file 'twitter/bootstrap'"
I just got the exception with a fresh, plain rails 4.0.1 app:
[code]
After reading this: https://github.com/metaskills/less-rails-bootstrap/issues/93, I added `require 'less-rails-bootstrap'` to `application.rb` and enabled `gem 'therubyracer', platforms: :ruby` for production - tataaa the exception is gone.

Pls verify and I'll create a PR

[2014-01-08 16:34] manuelmeurer opened #70 "Error when using with Rails 4.1.0.beta1"
I get the following error when trying to run the generator:

[code]

I guess `Rails.root` is `nil` in `config.before_configuration`? Maybe change it to `config.before_initialize`?

[2014-02-19 12:57] JerresonJ opened #73 "Login Protection causing issues"
So I use the following to start a session and it was working until a few days ago now it just triggers the login protection to send the browser back to /login

Funny thing is on my development server using the same exact code it works as expected even when running in production. However I put it on my production server and run in production mode and it just redirects me to /login via the login_pro

[2014-02-20 03:29] #73 closed, assigned to nobody

[2014-02-24 20:48] #70 closed, assigned to nobody

[2014-02-25 05:26] dean2088 opened #74 "Can't run the shopify_app in rails 4.0.0 and 4.0.3"
$ rails new my_shopify_app
$ cd my_shopify_app

$ echo "gem 'shopify_app'" >> Gemfile
$ bundle install

$ rails generate shopify_app your_app_api_key your_app_secret
$ rails server

After I finish type this, it comes up with the errors:

/Users/enriquesalceda/.rvm/gems/ruby-2.1.0@myapp/gems/railties-4.0.0/lib/rails/railtie/configuration.rb:95:in `method_missing': undefined method`shopify' for #Rai

[2014-02-25 12:44] ckhatton opened #75 ":order => "created_at DESC" is not a valid parameter for the Order query"
In: `home_controller.rb` Line: `15`
https://github.com/Shopify/shopify_app/blob/master/lib/generators/shopify_app/templates/app/controllers/home_controller.rb#L15

The `:order => "created_at DESC"` parameter is not valid. In other words, it does not work.

This is because the Shopify API is an ActiveResource, the parameter `order` does not work in the same way that it would with an ActiveRecord mo

[2014-02-26 17:07] pedro-bre opened #76 "undefined method `shopify' for #<Rails::Application::Configuration:0x007fd4f3a8b630> (NoMethodError)"
I've run bundle update on my Rails 4.0.0 app, and this error started to appear, I tried creating a couple for apps from scratch and I always get this error, anyway older apps that I created are working, so I don't understand what might have happened here, this error always shows up after I've run the "rails g shopify_app" command.
Thank you.

[2014-02-26 20:19] ckhatton opened #77 "Missing </span> tags in welcome.html.erb"
Page: welcome.html.erb | Lines: 93, 97, 101 [[link](https://github.com/Shopify/shopify_app/blob/master/lib/generators/shopify_app/templates/app/views/home/welcome.html.erb#L93)]

The lines of html are missing the closing `</span>` tag.

[2014-02-27 23:11] maxrice opened #78 "NoMethodError in rails 3.2.13"
The fix for #70 implemented in #71 breaks shopify_app in rails 3.2.13 with a NoMethodError. Changing it back to `before_configuration` solves the issue. redacted trace from our app:

[code]

[2014-02-28 04:29] #74 closed, assigned to nobody

[2014-02-28 04:33] #76 closed, assigned to nobody

[2014-03-06 21:16] ro5k0 opened #81 "Getting an error following the readme"
Hi there

I apologise if this is me being an idiot.  I'm still very new to rails.  I tried to follow the readme file and have run in to an issue.  When I try and add a shop I get the following error:

NoMethodError in SessionsController#create

Can anyone help?

[2014-03-09 17:46] alrick opened #82 "undefined method `sub' for nil:NilClass"
Hi there!

I got a problem trying shopify_app, I've followed the Installation and Usage section of this gem, nothing more. When I try to login with my shop I got this error message :

[code]

Any ideas?
Thanks

[2014-03-17 16:35] ckhatton opened #83 "Is the bootstrap responsive import still necessary?"
Is this file required anymore?
https://github.com/Shopify/shopify_app/blob/master/lib/generators/shopify_app/templates/app/assets/stylesheets/imports.css.less

The file relates to this issue...
https://github.com/metaskills/less-rails-bootstrap/issues/26

I assume this issue is no longer apparent as the newest bootstrap includes responsive anyway.

The line even comes up in my IDE with an error, a

[2014-04-10 17:52] zackchandler opened #85 "Rails 4.1 and default cookie store session store broken"
I posted a detailed writeup of this issue here:
http://stackoverflow.com/questions/22978704/object-stored-in-rails-session-becomes-a-string

The greater issue is that it is widely agreed that storing objects in the Rails session is a BAD idea.  Yehuda Katz gives makes the case here:  http://stackoverflow.com/a/1096221/1284634

Looking through the code base it would be very easy to modify the codeb

[2014-04-12 15:01] blackpond opened #86 "."
.

[2014-04-13 17:11] #86 closed, assigned to nobody

[2014-04-15 10:05] ahtomski opened #87 "Ecommerce analytics not showing Shopify sales"
Shopify app is not recording sales for  in ecommerce dashboard.

[2014-04-15 14:26] #87 closed, assigned to nobody

[2014-04-29 16:07] #82 closed, assigned to nobody

[2014-05-06 02:17] omgaz opened #91 "Processing by HomeController#index undefined method `site'"
Trying to get the server up and running. I managed to start it up, enter in my site, authenticate but then the app crashed with the followng stack. Now whenever I start the site up I get this.

[code]

ruby -v: 2.1.0
rails -v: 4.1.0
os: ubuntu

Also, I try removing the app from my shop, restarting and the hitting http://localhost:3000/login?shop=my_shop_url directly but still get the same error.

[2014-06-02 01:19] csaunders opened #93 "Test Suite isn't passing"
While trying to work on the feature I was doing I came across one of the tests failing.

It's probably worth it to add Travis CI integration into this project so these things won't happen again in the future.

Logging the issue just so it's on our radar, I might get a chance to fix it. It's also a great newbie contributor bug to fix since it's mostly just investigation and figuring out what Mocha

[2014-06-04 17:39] #93 closed, assigned to nobody

[2014-06-04 23:10] #85 closed, assigned to nobody

[2014-06-05 02:20] #65 closed, assigned to nobody

[2014-06-09 21:02] #9 closed, assigned to nobody

[2014-06-11 19:14] #91 closed, assigned to nobody

[2014-06-11 19:14] #81 closed, assigned to nobody

[2014-06-11 19:25] #75 closed, assigned to nobody

[2014-06-11 19:27] #61 closed, assigned to nobody

[2014-06-11 19:28] #33 closed, assigned to nobody

[2014-07-28 20:32] #77 closed, assigned to nobody

[2014-08-08 20:13] fluxsaas opened #97 "question to the "OmniAuth::Builder" and shop parameter"
Hey,

i'm curious which purpose the `params['shop']`parameter has. I get that you have to redirect the client to the proper `myshopify.com` after autentication...

the code i`m talking about: [L11](https://github.com/Shopify/shopify_app/blob/master/lib/generators/shopify_app/templates/config/initializers/omniauth.rb#L11)

[code]

....but why do you extract the param from `env['QUERY_STRING']`? i c

[2014-08-08 21:25] #97 closed, assigned to nobody

[2014-08-18 01:52] volkanunsal opened #98 "How to integration test the redirects to permission_url?"
I have this embedded app that requires the user to modify the product, and I'm trying to write a test for that flow, but the problem is that it needs to redirect me to

     https://my-pretty-shop.myshopify.com/admin/oauth/authorize

 With the authentication flow, this was easy: OmniAuth's test mode simply moves me forward to the callback step, but I'm not sure with this one. I have no control ove

[2014-09-30 22:11] JerresonJ opened #102 "Version 5.0.0 breaks less, bootstrap and icons..."
I was successfully using the following Gems...
less (2.5.1)
less-rails (2.5.0)
less-rails-bootstrap (3.2.0)

When I updated to the shopify_app 5.0.0 it forced them to downgrade to lower versions...
less 2.3.3
less-rails 2.3.3
less-rails-bootstrap 2.3.3

This has broken major theme elements and icons. How can I fix this?

---

This commit
https://github.com/Shopify/shopify_app/commit/10335d54b4d086

[2014-09-30 23:37] #102 closed, assigned to nobody

[2014-10-14 00:03] joelbrewer opened #103 "A copy of Shop has been removed from the module tree but is still active!"
While using shopify_app in development I keep getting this error:

[code]

The only way to get this error to go away is to restart my development server ( a real PITA ).

My `shopify_session_repository.rb` file looks like this:

`ShopifySessionRepository.storage = Shop`

and my `shop.rb` file looks like this:

[code]

What's going on here? I've done a bit of digging around and I think it has somet

[2014-11-07 22:08] hjhart opened #106 "Remove less-rails-bootstrap from dependencies"
We use SASS with our Rails application, and would rather not have LESS as a dependency. Is this a possibility?

[2014-11-10 14:18] #106 closed, assigned to nobody

[2014-11-11 03:46] lsimoneau opened #109 "Incorrect application callback URL in README"
In this project's README, you say:

But then in the README inside `lib/generators/shopify_app` it says:

Setting the callback to the site root doesn't work, but setting it to /login does, so I presume the main README is incorrect here?

[2014-11-11 16:22] #109 closed, assigned to nobody

[2014-12-06 07:30] bennick opened #111 "AR store is being overridden in example code"
In your example [here](https://github.com/Shopify/shopify_app/blob/master/lib/generators/shopify_app/templates/config/initializers/shopify_session_repository.rb#L9) the class method `store` is overriding a built in AR class method: https://github.com/rails/rails/blob/0ac16326d20e1ce8d0b3af363012b17a3c8b6086/activerecord/lib/active_record/store.rb#L75

[2014-12-19 19:07] gmalette opened #113 "Since Rails 4.1, creating a new application is broken"
![screen shot 2014-12-19 at 1 58 02 pm](https://cloud.githubusercontent.com/assets/351915/5509533/20162f32-8787-11e4-8f84-5dffb1e7f403.png)

The reason is that since https://github.com/rails/sprockets-rails/pull/84, Rails will not serve assets not in the compile path (to avoid surprises down the line).

This has been addressed in [less-bootstrap-rails last year](https://github.com/metaskills/less-

[2014-12-19 19:46] #103 closed, assigned to nobody

[2014-12-23 14:43] JahBrewski opened #115 ""Too many redirects" when using :login_again_if_different_shop"
Hello, I'm trying to utilize the `login_again_if_different_shop` method in my application_controller, but I keep getting a "Too many redirects" error whenever I try to use it.  Anyone else getting this error?

[2015-01-05 16:51] gmalette commented on #68
Is this still an issue?

[2015-01-12 11:31] ckhatton commented on #115
Has anyone picked this one up? :eyes:

[2015-01-12 11:36] ckhatton commented on #68
I don't think so... well it definitely won't be any longer, once myself or someone removes the bootstrap :octocat:

[2015-01-22 08:11] brahmadpk opened #118 "Old Bootstrap Version"
The gem installs an older version of Bootstrap.

/*!
 * Bootstrap v2.3.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

Can this be changed to include the latest version. Thanks.

[2015-01-22 09:43] ckhatton commented on #118
The plan of action is actually to remove Bootstrap :coffee:

[2015-01-28 17:39] shabbirun opened #120 "no implicit conversion of nil into String error"
The following bit of code was working fine until I added a new controller:

    def index
  	@articles = ShopifyAPI::Article.find(:all)
  	@last_article = ShopifyAPI::Article.find(:last)
  	@articles_by_date = @articles.group_by { |x| DateTime.parse(x.published_at).strftime("%Y-%m-      %d")}
        @date = params[:date] ? Date.parse(params[:date]) : Date.today
    end

After I added the new cont

[2015-01-29 14:41] #120 closed

[2015-02-19 03:29] nakulpathak3 commented on #118
Has this change been made yet? I wanted to use Rails 4.2.0 and was wondering if the app will work before I begin.

[2015-02-19 03:40] csaunders commented on #118
Nope.

To be honest this gem is pretty much just generators. You can get most of what you want by simply using the [shopify_api gem](https://github.com/Shopify/shopify_api) and the [shopify-omniauth-oauth2 gem](https://github.com/Shopify/omniauth-shopify-oauth2).

[2015-02-19 03:58] nakulpathak3 commented on #118
Okay thanks. I'll look into those.

[2015-02-19 10:56] ckhatton commented on #118
Yea the Bootstrap gem shouldn't hinder the running of the app. You can either remove or upgrade it yourself locally :8ball:

[2015-04-07 19:52] hendrikbeck opened #123 "NoMethodError: undefined method 'login_path' (in login_protection.rb)"
Hey there,

in login_protection.rb there is this method:

    def redirect_to_login
      session[:return_to] = request.fullpath if request.
      redirect_to login_path(shop: params[:shop])
    end

I am getting the above error message, that ```login_path``` is not found. Since nobody else is complaining about this, I'm almost certain I am missing something very simple but I really am stuck. Can

[2015-04-08 12:13] ckhatton commented on #123
(I am responding off the cuff here) Is the login form submitting the parameter 'shop' with a value? And if so, is value correctly formatted? I seem to remember it is a bit particular, as in, it has to be like 'example.myshopify.com' :fallen_leaf:

[2015-04-08 12:37] hendrikbeck commented on #123
@ckhatton: thanks, let me check the 1st point you're mentioning. The login_path doesn't exist, I just wasn't sure where it should point to. So I would create a route that points to example.shopify.com, with ```example``` being the variable to fill in? Let me see what that does... :-)

[2015-04-08 13:08] ckhatton commented on #123
Na I think you're confused. 'example.shopify.com' was literally that, an example :smile:

I have just had a look at the `routes.rb` file - all the paths should be there, so you should not need to tinker with it. So I think it might be that you have not set up the app properly. Make sure to set the Application URL of the application in your Shopify partner account to 'http://localhost:3000/login' (

[2015-04-08 15:04] hendrikbeck commented on #123
Yeah, it was clear to me that the "example..." was an actual example ;-) The app was also running already with a proper configuration for months, this more or less just came up while upgrading from shopify_app version 5.0.0 to 5.0.2.

Which ```routes.rb``` file did you look at? The one in my project doesn't have any routes named ```login```.

If you look at https://github.com/Shopify/shopify_app/b

[2015-04-08 15:06] hendrikbeck commented on #123
Mmmh ok. Having read the method ```redirect_to_login``` one more time, I think I do understand it now :-) First line stores the current URL as ```return_to``` so that Shopify knows where the user actually wanted to go to. Okay, that makes sense, of course. So now the line ```redirect_to login_path(shop: example)``` should really just forward to example.shopify.com? Let me try and see if that works

[2015-04-08 16:16] ckhatton commented on #123
Na, there should be a **get** and **post** 'login' route in your `routes.rb` under the routes for the Sessions controller. As you see [here](https://github.com/Shopify/shopify_app/blob/334e844d4b09ba414cbe4f24fa20984dbed2e06e/lib/generators/shopify_app/shopify_app_generator.rb#L47), the routes are supposed to be inserted when the Shopify App is generated.

So this must be the problem :crocodile:

[2015-04-08 21:46] ckhatton commented on #123
I would just create a new project, generate the files using this Shopify App, and then compare the new `routes.rb` file with the one from the project you are trying to fix :octocat:

[2015-04-09 08:10] hendrikbeck commented on #123
Thanks a lot, @ckhatton, for giving me all the right pointers. Here's a quick summary of my findings:
* Apparentlich the named route login_path was introduced in shopify_app after 5.0.0, so that's why this problem appeared now (after working fine on the old version for quite a while)
* What I didn't realize is the extent to which Rails determines magical names of routes based on their properties,

[2015-04-09 09:58] ckhatton commented on #123
I hadn't realised the named route 'login_path' was introduced into the shopify app after 5.0.0.

I presume, as it is the default, it is not stated in the readme because one can change the setup after. But saying that, I guess it could be added as upgrade notes.

Glad to have helped :neckbeard:

[2015-04-09 10:00] ckhatton commented on #123
This issue is to be kept open - Upgrade notes need to be added to the `readme.md` :octocat:

[2015-05-12 16:53] kevinhughes27 commented on #118
latest version doesn't include bootstrap anymore. closing

[2015-05-12 16:53] #118 closed

[2015-05-12 16:53] kevinhughes27 commented on #83
latest version doesn't include bootstrap anymore. closing.

[2015-05-12 16:53] #83 closed

[2015-05-12 16:53] kevinhughes27 commented on #68
latest version doesn't include bootstrap anymore. closing.

[2015-05-12 16:53] #68 closed

[2015-05-12 16:54] kevinhughes27 commented on #64
there is for the new generators in the new version!

[2015-05-12 16:54] #64 closed

[2015-05-12 16:54] kevinhughes27 commented on #113
creating new apps works in rails 4.2 with the latest version

[2015-05-12 16:54] #113 closed

[2015-05-12 16:55] kevinhughes27 commented on #123
this should be clear in the latest version

[2015-05-12 16:55] #123 closed

[2015-05-12 16:56] kevinhughes27 commented on #115
now that more of this is done in concerns as part of the gem I would like to close. If people are still running into issues please open a new issue referring to the new code

[2015-05-12 16:56] #115 closed

[2015-05-12 16:57] kevinhughes27 commented on #78
this is for the old generator. closing

[2015-05-12 16:57] #78 closed

[2015-05-12 16:57] kevinhughes27 commented on #111
we do this using the SessionStorage class now so I don't think it clashes.

[2015-05-12 16:57] #111 closed

[2015-05-12 16:59] kevinhughes27 commented on #98
I am going to close as this sounds like a question more suited to the Shopify API forums (https://ecommerce.shopify.com/c/shopify-apis-and-technology) and isn't really an issue with the code included in this gem

[2015-05-12 16:59] #98 closed

[2015-05-12 17:02] kevinhughes27 opened #129 "Rails Engine Routes"
Currently the default routes as part of the engine are drawn on the engine itself. This means they have to be mounted in order to become part of the hose app. They are also behind a config var called `routes` on ShopifyApp configuration.

The routes should actually be drawn on Rails.application and then the `routes` config will be the only thing controlling the routes in the host app. This is clea

[2015-05-12 18:35] humansounds opened #130 "Authentication Redirects"
After removing the app from my dev shop and resetting my local database, i always get redirected back to my dev shop instead of the `sessions#new` page.  Therefore, I cannot reinstall the app.  Please advise?

[2015-05-12 19:47] ckhatton commented on #130
Ooo.. a fellow Hatton :smiley:

I am thinking off the top of my head here... I don't suppose this is a build that you have updated past v5.0.0? Did you seed the database after resetting it? Are you sure it isn't a cookie that is doing this?

[2015-05-12 19:58] humansounds commented on #130
I cleared the browser cache and cookies, tried in FF, Chrome, and Safari.  All reproduce the same issue.  I'm running `6.0.4` on a fresh rails build using the generators.

[2015-05-12 20:12] ckhatton commented on #130
Okay, a bit weird. It was working before resetting the database right? Is the login path set correctly in your Shopify partners app page?

[2015-05-12 20:22] humansounds commented on #130
it was working fine before because i had already installed the app in my shop.  once i removed it from the shop and cleared the database, i can no longer access that default `sessions#new` page.  it redirects straight to shop authentication: `https://www.shopify.com/login`, and then into the shop, where it can no longer find the app.

[2015-05-12 20:31] humansounds commented on #130
I guess I should consider bumping back to `5.0.2` stable...

[2015-05-12 20:34] ckhatton commented on #130
Yeh maybe...

@kevinhughes27 and @stephenminded I seem to remember you guys mentioning some caveat about the session store? Is this related to InMemorySessionStore? Cheers

[2015-05-12 20:38] kevinhughes27 commented on #130
InMemorySessionStore works fine locally its just on heroku and production that it doesn't work.

Did you update your code when bumping to 6.0.4? Have a look at this PR to see what I did to the example app which I tested successfully.

https://github.com/Shopify/embedded-app-example/pull/27

[2015-05-12 20:39] humansounds commented on #130
i didn't have any code to update.  i built the app with the generators in `6.0.4`.

[2015-05-12 20:40] kevinhughes27 commented on #130
Okay - which generators did you run?

[2015-05-12 20:41] humansounds commented on #130
`rails generate shopify_app` - the default behemoth.

[2015-05-12 20:42] kevinhughes27 commented on #130
hmm okay let me try this out on my machine and see whats up.

[2015-05-12 20:43] humansounds commented on #130
everything ran perfectly, and installed to my dev shop great.  i dropped the database with a standard `rake db:migrate:reset` and removed the app from my shop.  now when i hit the development URL (puma, pow, using a procfile for logging) it redirects me straight to my dev shop.  not even sure how it's remembering that.  cache is cleared, database is clean, etc.

[2015-05-12 20:52] kevinhughes27 commented on #130
Can you explain your steps exactly?
What Rails version?
Did you add your api credentials to the initialize?
They are oauth credentials from your partners page right?
Is your callback url correct?

I just created a new rails app locally and ran the main generator, entered my keys it worked fine for me. I removed the app, cleared my db and it all worked fine.

[2015-05-12 20:53] kevinhughes27 opened #131 "Add cmd args to the `all` generator"
The install generator takes arguments and while this is the main one lots of users will want to run every generator and currently this means they can't use CMD args to set their defaults before running the generator.

Would be a nice feature to have.

[2015-05-12 20:58] humansounds commented on #130
* Ruby 2.2.0
* Rails 4.2.0
* Key and Secret are properly set in env variables
* Callback URL is just the root domain `http://appname.dev` (using pow)

I used the generator to scaffold up the shopify_app stuff, adding some config stuff here and there, added some other code, etc.  Never had any issues running in my dev shop.  I reset the database and removed the app from my shop.  Now when i visit t

[2015-05-12 21:06] kevinhughes27 commented on #130
and the ShopifyApp.rb initializer reads your ENV vars? I read earlier that you cleared cookies - are you sure the cookies are gone for your domain? Check again because that's all I can think of.

[2015-05-12 21:07] humansounds commented on #130
Yep, they're gone.  I'll keep digging.  Not sure what is wrong here.

[2015-05-12 21:12] humansounds commented on #130
Oddly enough, I keep getting redirected here: `https://shop-name.myshopify.com/admin/auth/login`, although my log is actually hitting the right controller.  Really bizarre.

[2015-05-12 21:23] kevinhughes27 commented on #130
I would try running without pow and just use bundle exec rails server (copying in your creds for now)

[2015-05-12 22:46] humansounds commented on #130
Started over completely.  Same issue after uninstall.

[2015-05-12 23:02] humansounds commented on #130
UGH.  Finally found it.  I had the sdk initialization script in my `application.html.erb` layout. :tired_face:

[code]

Apparently this redirects to log you in instantly, without any console output.  Wowee that was a doozy.

[2015-05-12 23:02] #130 closed

[2015-05-13 00:58] kevinhughes27 commented on #130
glad you got it sorted out!

[2015-05-13 21:21] #131 closed

[2015-05-15 07:52] raecoo opened #134 "How to use filter :login_again_if_different_shop"
Hi,

I want to use __login_again_if_different_shop__ in my app.
[code]
I've added it like following:
[code]
[code]
for now, I opened my app in Shop A, then open a new window(Chrome tab) to access my app in Shop B.
the code always capture the url of Shop A from params[:shop], so redirect to Shop A.

If I remove __skip_before_filter__ from SessionsController then get the __Too many redirects__ error

[2015-05-15 14:51] kevinhughes27 commented on #134
I think this is happening because you already have a session and you aren't providing the shop param. If you were to open the second tab for Shop B and type the url of your app with a `?shop=...` url param then I think it would work.

[2015-05-18 01:31] raecoo commented on #134
Yes, I have a session for Shop A.  But I opened the App from Shopify Admin -> Apps for Shop B in second tab.
I think that link should be include auth info with shop params. right?

[2015-05-19 06:14] yinwai92 commented on #129
Hi @kevinhughes27 , thank you for the project. I am new to ruby and shopify, I start using your api few days ago. However, after running install generator and rails server, I found "undefined method `login_path' for #<HomeController:0x007f8591b0f1f8>". Is this have to do with the issue you mentioned above?

Appreciate if you can explain a little for me. Thank you very much!

[2015-05-19 14:48] kevinhughes27 commented on #134
hmm you are right it should. I'll try and look into this shortly

[2015-05-19 20:16] kevinhughes27 commented on #134
I played around with this and ran into some other issues with helpers being shared between the host app and the engine. Its all fixed up in #133 now. I only needed to add the filter to the home controller no need to skip it. Then everything worked locally for me

[2015-05-20 14:34] #129 closed

[2015-05-20 15:39] kevinhughes27 commented on #134
can you try the latest version 6.1.0 and see if this works for you now? I am going to close since in my local testing this case worked fine

[2015-05-29 02:42] brahmadpk opened #136 "Shopify recreating the products after deleting - not working"
I am trying to save products to Shopify store using the API. Here is what I am trying to do:

Step 1: Save products to Shopify store through API, success
Step 2: Delete all products from Shopify store Admin

Step 3: Save products to Shopify store through API - not saving.

Error: The variant '.....' already exists. Please change at least one option value.

We are currently testing the app to keep

[2015-05-29 11:06] brahmadpk commented on #136
Created the issue here https://github.com/Shopify/shopify_api/issues/193

[2015-05-29 11:06] #136 closed

[2015-06-02 04:26] raecoo commented on #134
@kevinhughes27 so need add the filter
[code]
to all controllers manually now?

[2015-06-02 08:02] raecoo commented on #134
@kevinhughes27 I don't think it fixed with embedded app. In embedded app, the links doesn't include params[:shop] automatically, so if you click a link in the app, the second app will be load the first app content.

[2015-06-02 14:33] kevinhughes27 commented on #134
if you think this is still an issue can you post step by step reproduction steps please. Then I will be able to take a look

[2015-06-04 17:55] Jerskouille opened #140 "Can't login to another shop"
Hi there,

I have a weird issue with an embedded app and `login_again_if_different_shop`. On the first install, it redirects me to the first active shop I had a session active with.

So when I try to access http://my.app/login?shop=shop2 , it asks me to allow the app in shop2, but I always end up redirected to http://my.app/login?shop=shop1 .
But this only happen when I try to access the shop via

[2015-06-04 18:02] kevinhughes27 commented on #140
related to #134

can you clarify that this used to work and no longer does?

[2015-06-04 18:41] Jerskouille commented on #140
I'm sorry but I can't be sure of this, because I'm in early stage of my app's development and didn't get the occasion to install it on a lot of shops. I think I'd probably have noticed before migrating, but I might just have ignored it at that time.
I actually talked about the migration just to emphasize the fact that I didn't run the generator directly on my app but did kind of a diff.

[2015-06-04 18:56] Jerskouille commented on #140
I was actually meaning the migration from v5 to v6. I'm currently using v6.1.0.

[2015-06-04 18:56] kevinhughes27 commented on #140
I'll run through this flow again but I recently tested in #134 and it worked for me.

[2015-06-04 18:57] Jerskouille commented on #140
Thanks for investigating!

[2015-06-06 10:40] pjc opened #141 "Upgrade path 5.x to 6.x"
Hi,

We tried to update the shopify_app gem that our embedded app relies on, because we need bootstrap 3 for an html editor gem we want to use.

However, based on the error messages we get it seems like the entire configuration of the app is different between 5.x and 6.x versions of the shopify_app gem.

Is there a changelog available somewhere we can use as upgrade guidelines? Or should we create

[2015-06-08 14:06] kevinhughes27 commented on #141
Here is the changelog although its not super complete: https://github.com/Shopify/shopify_app/blob/master/CHANGELOG

It highlights the main changes to the app but one thing it doesn't mention is that we removed Bootstrap from this gem. This doesn't mean you can't use it it just means you'll need to re-add it to your gemfile in your project. The other changes shouldn't affect your app unless you us

[2015-06-08 14:06] #141 closed

[2015-06-08 14:33] kevinhughes27 commented on #140
okay here are the steps I followed and I what I was able to do.

[code]

Then I:
1. Installed my app on my first test store
2. Revisited localhost:3000 and was redirected to the app in my test store since I had a session
3. Visited localhost:3000/login?shop=.. my second test store. I installed the app on my second store

[2015-06-08 14:33] #140 closed

[2015-06-15 18:09] qq99 opened #142 "Add a README note about common troubleshooting problems"
EASDK issue, if you didn't use SSL and CSP is blocking you, you can see this in your Chrome console:

`[Report Only] Refused to frame 'yoururl.com' because it violates the following Content Security Policy directive: "frame-src 'self' https: safari-extension: chrome-extension-resource: chrome-extension: chromeinvoke: chromeinvokeimmediate: webviewprogressproxy: webkit-fake-url: chromenull: blob: d

[2015-06-15 18:12] kevinhughes27 commented on #142
I agree this should live in the README here so people don't have to chase things down. We should also link to the ESDK docs somewhere and link to the appinfive screencast when it launches. cc @joshubrown

[2015-06-15 18:13] qq99 commented on #142
:+1: to all of those :)

[2015-06-15 18:14] qq99 commented on #142
Callback URL is a bit confusing in the partners section, I wasn't sure if it meant that Shopify's servers would actually do a communication with via HTTP.  Since it's a client-only thing, we should add a note that it should be some kind of landing page for your app and at least resolvable by your machine

[2015-06-19 19:32] pjc opened #143 "Why does v6 of this app set session[:shopify_domain] as well and not just session[:shopify]?"
I am upgrading my app from V5 to V6 of this app mainly to get out of the bootstrap dependency so I can use bootstrap 3.

In the [new SessionsController](https://github.com/Shopify/shopify_app/blob/dea2b944323ccfa1d84a92c932d1007f92e314cd/lib/shopify_app/sessions_controller.rb) we now set both session[:shopify_domain] and session[:shopify], while V5 apps only set session[:shopify].

Just to confirm

[2015-06-19 19:33] kevinhughes27 commented on #143
Yup its totally optional - we are setting it since its pretty common for error handlers (like Errbit and Airbrake) to dump the session in with the exception. This way you can see the shop name as well as the ID.

tl;dr extra visibility of what shop is the current shop

[2015-06-19 19:33] #143 closed

[2015-06-23 14:17] avra911 opened #144 "Small typo"
Hi,

Small typo, I think ```<button type='submit'>Install</buttom>``` should be ```<button type='submit'>Install</button>``` in views/sessions/new.html.erb

R

[2015-06-23 14:18] kevinhughes27 commented on #144
it definitely should!

[2015-06-23 14:18] avra911 commented on #144
Is there any way we can sent PR to rubygem?

R

[2015-06-23 14:33] kevinhughes27 commented on #144
absolutely! If you send a PR to this repo it will make it into the gem next time we release

[2015-06-23 15:08] avra911 commented on #144
Perfect sense, thank you! I created the 100th fork :)

R

[2015-06-23 15:14] kevinhughes27 commented on #144
:100: :tada:

[2015-06-30 20:13] qq99 commented on #134
I think I know why this is happening:

Session on Shop A sets the following, at some point:
[code]
https://github.com/Shopify/shopify_app/blob/28b070d9dd0b302f82e15d66a005a8248847f242/lib/shopify_app/login_protection.rb#L35-L38

Later, you try to use the URL to login and end up in this block:
[code]
https://github.com/Shopify/shopify_app/blob/28b070d9dd0b302f82e15d66a005a8248847f242/lib/shopify_ap

[2015-06-30 20:14] kevinhughes27 commented on #134
ahhh so we need to blow away return_to on the session as well

[2015-06-30 20:16] qq99 commented on #134
Yeah, I think a patch of `session[:return_to] = nil` after you set `session[:shopify]` works and fixes this bug

[2015-06-30 20:17] kevinhughes27 commented on #134
do you want to whip that up then?

[2015-06-30 20:18] qq99 commented on #134
I could make the PR if you can do the release

[2015-06-30 20:19] kevinhughes27 commented on #134
its a deal

[2015-07-02 14:20] #134 closed

[2015-07-02 22:36] avra911 opened #149 "module SessionsController authenticate issue when using devise gem"
when using 'devise' gem, I get a ```No route matches [GET] "/auth/shopify"```, which disappear after I turn off the 'devise'

theoretically the devise use different path for urls:
[code]

I did not figure out a workaround in routes yet, I was wonder if someone can help me, please

[2015-07-06 14:15] kevinhughes27 commented on #149
Are you using devise with Shopify users? The gem wasn't really built to do that and I believe you'll need to connect the omniauth provider right to devise.

I need more details to figure out what is wrong - can you please describe your setup and what you are trying to do?

I'm also not sure at this point if this is really an issue with this gem, so I may close this and we can move the discussion t

[2015-07-06 14:19] avra911 commented on #149
Hi, kevinhughes27

Entire shopify_app does not work with devise. All it needs is to add ```gem 'devise'``` to Gemfile and the session seems broken.

I gave up to devise omniauth and used directly omniauth-facebook with a custom module to save data.

Best regards,
Razvan

[2015-07-06 14:38] avra911 commented on #149
Also, makes sense, is not an issue with this gem, I just put it here, maybe I can get some clues, which I already did, I understood now

R

[2015-07-06 14:38] #149 closed

[2015-07-06 15:31] kevinhughes27 commented on #149
Cool - both this gem and devise are both engines so they are probably conflicting but it would take some work to figure out the best way to have them play nice. We don't use devise with this gem internally so I can't really say what all would be required.

glad you got it figured out.

[2015-08-03 16:49] ajmalafif opened #151 "Oauth error invalid_request: The redirect_uri is missing or not whitelisted"
I followed the instruction here: http://shopify.github.io/shopify_app/

on localhost (http://localhost.dev) but can't get pass the installation:

<img src="https://www.evernote.com/l/AFnqRJsK_clGaaiu9JsH4BcT4cxFWkMIoaoB/image.png">

I key-in my development store links but it keeps giving me this error:

`Oauth error invalid_request: The redirect_uri is missing or not whitelisted`

<img src="https:

[2015-08-03 17:25] raulbrito commented on #151
More people are having this problem (me included). Haven't tried, but somebody claims to have a workaround here: https://ecommerce.shopify.com/c/shopify-apis-and-technology/t/problem-with-embedded-sdk-not-loading-the-iframe-275604

[2015-08-04 14:29] kevinhughes27 commented on #151
yup this is a bug on our side and a fix is almost ready to go! I am going to close this issue since there is nothing wrong with shopify_app

[2015-08-04 14:29] #151 closed

[2015-08-04 15:19] ajmalafif commented on #151
@kevinhughes27 I see thanks for the update. Really appreciate it!

However some feedback I still think that the tutorial/readme can be further detailed like for the shop name do we really just insert `store.myshopify.com` or actually like all the suggested solution in the forum with `redirect_uri`. I'm confused as the instruction is not really clear.

[2015-08-04 15:24] kevinhughes27 commented on #151
sorry are you talking about what you enter when you install the app (code from this repo) or are you talking about what you enter on the partners page for your api client?

[2015-08-04 15:29] ajmalafif commented on #151
oh i meant when i install the app (code from this repo):

<img src="https://www.evernote.com/l/AFnqRJsK_clGaaiu9JsH4BcT4cxFWkMIoaoB/image.png">

and while at it, I always confuse what to enter for partners page a well:

<img src="https://www.evernote.com/l/AFm-JE5ZMFhFWbGgLrdQdle1iMXhmtppj78B/image.png">

[2015-08-04 15:32] kevinhughes27 commented on #151
what you enter on the partner's page depends on what your apps routes are. Those are the urls Shopify will make requests at during the auth process.

As for the install just enter the url of the shop you want to install the app on. If you get redirected to that shop you entered it right. There is some code that handles adding http etc if you don't add it yourself.

Does that answer your questions?

[2015-08-04 15:38] ajmalafif commented on #151
I think yes. That helps clear what should go into those two.

However specifically for `shopify_app` what I did was I clone the repo on local and from there it generates that Install the application page (which I thought that it's like an example app to sandbox with Shopify) on local (say my local url is `localhost.dev`) and use that on Shopify partners.

I inserted the shop url (mystore.myshopify

[2015-08-04 15:39] kevinhughes27 commented on #151
the forum post is hard to follow - there is currently a bug on our side preventing newly created apps from working. Should be fixed later today

[2015-08-04 15:41] ajmalafif commented on #151
I see. I actually tried with old apps too but failed. I guess I should just wait till later today and see how it goes.

Plus I think it's part of i'm being noob and not understanding the basic of things; I build Shopify themes for few Shopify customers so I was thinking of venturing into app development which got me to try things out.

[2015-08-04 15:54] kevinhughes27 commented on #151
no worries! the auth flow with building any apps these days is frustrating. I think it is kind of the nature of auth that the error messages can't be all that great

[2015-08-11 13:25] ramananbalakrishnan opened #154 "Running the app from a sub-directory"
Hi,
I am trying to run my (non-embedded) app from a sub-directory, "/myapp" instead of "/" .

#### issue
After following the instructions on [Rails guides](http://guides.rubyonrails.org/configuring.html#deploy-to-a-subdirectory-relative-url-root) and also modifying the deployment configurations, I noticed that this relative_url_root is not being respected in [`SessionsController`](https://github.c

[2015-08-11 15:51] kevinhughes27 commented on #154
Nice find - yeah its tough to think through auth stuff. I think it will be fine, do you want to write up a PR and then we'll see if the test suite likes it.

In the meantime I would just overwrite that method in your app so you are not blocked by this.

[2015-08-11 18:39] ramananbalakrishnan commented on #154
After an initial misstep, looks like my PR now passes the tests and also solves my problem. You can merge when suitable.

I have corrected my local version to fix things in the meantime

[2015-08-14 18:00] thierryskoda opened #156 "Get current shop with API"
Hi, I'm currently using the Shopify-app gem with ruby on rails and i would like to know how can i get access to the current shop ? I know there is an API call like this : "ShopifyAPI::Shop.current" but this only works in my home_controller.rb. When i try to use get the current shop with this "ShopifyAPI::Shop.current" in an other controller. I receive the error =>  ArgumentError (Missing site URI)

[2015-08-14 18:11] kevinhughes27 commented on #156
If you add other controllers make sure they inherit from `AuthenticatedController` which will force the user to auth for that controller if they haven't already and then the shopify session will be set in a before action.

For the future this Repo is for code issues not questions, the correct place to post this would be the Shopify forums https://ecommerce.shopify.com/c/shopify-apis-and-technology

[2015-08-14 18:11] #156 closed

[2015-08-18 10:25] guillelopez opened #157 "Authentication failure! csrf_detected"
Hi,

I am trying to build my first app, and everything works fine —I get into the app install page, the database adds the new store, and I get redirected to the app page inside the admin panel— but then I get an:

`ERROR -- omniauth: (shopify) Authentication failure! csrf_detected: OmniAuth::Strategies::OAuth2::CallbackError, csrf_detected | CSRF detected`

Any idea from where that could be commin

[2015-08-18 14:30] kevinhughes27 commented on #157
Try putting your callback url as https. Also did you use the generator? There is some rails config required for using the ESDK that it takes care of

[2015-08-18 21:02] guillelopez commented on #157
Thanks @kevinhughes27 for your quick reply. I changed to `https` but I am still having the same issue with the csrf. I also used the generator (`rails generate shopify_app`). Any other thing you might think it could be?

[2015-08-18 21:05] kevinhughes27 commented on #157
Is everything set properly on the app page in the partners area? I've never seen this before with the gem so I am not too sure

[2015-08-18 21:11] guillelopez commented on #157
Yes, I think so:
<img width="1068" alt="screen shot 2015-08-18 at 11 08 48 pm" src="https://cloud.githubusercontent.com/assets/428680/9342790/28fba42a-45fe-11e5-832a-8ef74f1ffe94.png">
<img width="1042" alt="screen shot 2015-08-18 at 11 08 55 pm" src="https://cloud.githubusercontent.com/assets/428680/9342793/2c8bda88-45fe-11e5-97b3-83f5639d4288.png">

I think I am going to start the rails app from

[2015-08-18 21:18] kevinhughes27 commented on #157
there is a checkbox for using the ESDK - is that checked?

[2015-08-18 21:20] guillelopez commented on #157
Yes:

<img width="907" alt="screen shot 2015-08-18 at 11 19 32 pm" src="https://cloud.githubusercontent.com/assets/428680/9343031/a1817914-45ff-11e5-8a10-016e9b975fc2.png">

[2015-08-18 21:21] kevinhughes27 commented on #157
hmm sorry I can't be more help!

[2015-08-18 21:22] guillelopez commented on #157
Thanks anyhow. I will let you know if I figured it out.

[2015-08-21 13:28] Trimakas opened #158 "Typo in the directions for Shop model"
I am a pretty new dev.. and I'm actually sort of giddy I found this and fixed it!! My shop model wasn't working.. and I realized why!!  (I'm pretty sure atleast!)

This line in the shop model def self.retrieve(id)
ShopifyAPI::Session.new(shop.domain, shop.token)

Should actually be:
ShopifyAPI::Session.new(shop.shopify_domain, shop.shopify_token)

[2015-08-21 14:16] kevinhughes27 commented on #158
do you mean this line: https://github.com/Shopify/shopify_app/blob/master/lib/generators/shopify_app/shop_model/templates/session_storage.rb#L12 it looks correct. How did you run the generator?

[2015-08-21 14:32] Trimakas commented on #158
Quick question.. any setting I can update so that when I refresh the browser I don't have to sign in again? Seems like I'm killing the session somehow??

Ok, back to the issue:
Yes, but if you look at the Gem page here:
https://github.com/Shopify/shopify_app

and then go down to this section:
ShopifyApp::SessionRepository

it still has this..
class Shop < ActiveRecord::Base
  def self.store(sessio

[2015-08-21 14:36] kevinhughes27 commented on #158
oh yeah I see its a readme issue. Technically you can have whatever you want for a shop model - the one we generate has the domain as shopify_domain.

Yeah you're probably using the in memory session so thats why. If you generate the shop model and save you access token somewhere permanent than you won't have to login every time.

[2015-08-21 14:36] kevinhughes27 commented on #158
If you want to make a PR to update the readme I'll happily accept

[2015-08-26 01:13] guillelopez commented on #157
I figured out my problem! I was using for both Application URL and Redirection URL: `https://test-shopify-app.dev:3000/auth/shopify/callback`.

And it needs to be, for Application URL: `https://test-shopify-app.dev:3000` and for Redirection URL: `https://test-shopify-app.dev:3000/auth/shopify/callback`.

That's it. I am closing this issue. Thanks @kevinhughes27 for your help.

[2015-08-26 01:13] #157 closed

[2015-08-26 02:09] kevinhughes27 commented on #157
I'm glad you got it figured out! getting all the auth stuff done is never fun!

[2015-09-01 07:00] selvaganeshc1 commented on #151
hi @kevinhughes27 ,
 may i know how to resolve "
What happened?
Oauth error invalid_request: The redirect_uri is missing or not whitelisted
" issue.

[2015-09-01 14:36] kevinhughes27 commented on #151
The redirect_uri has been added and you need to add it to the initializer when you make a new app. Its in the readme as well, should be pretty straight forward.

[2015-09-03 02:05] yinwai92 commented on #151
Hi @kevinhughes27 . I tried to insert redirect uri in shopify_app.rb as stated in readme, but when I deploy it gives me this error "NoMethodError: undefined method `redirect_uri=' for #<ShopifyApp::Configuration:0x007f9979b560c0>" . I am clueless about the error, hope that you can help with this. Thank you !

[2015-09-03 21:15] kevinhughes27 commented on #151
did you update the gem as well? It was a newly added config option

[2015-09-04 02:09] yinwai92 commented on #151
Hi @kevinhughes27 . Thanks for the reminder. Previously I have yet to update the gem, now I am working with ver. 6.1.3. After installing new gem the redirect_uri option din't give me complain anymore. Thanks!

[2015-09-14 21:24] andrewromanenco opened #160 "Redirects in the app mess with http/https"
cc @kevinhughes27 no sure if this is qualifies as an issue

Use case:
Run rails app on port 3000
Have stunnel running to map https port 8888 to http port 3000
Access application with url: https://localhost:8888
Result: application get redirected to http://localhost:8888/login (http->https)

Expected behaviour: if application was accessed via https, all redirects should let user to stay in https.

[2015-09-14 22:17] kevinhughes27 commented on #160
maybe? your setup is complicated. Can you find exactly where the app is re-directed and changing from https to http?

[2015-09-14 22:26] andrewromanenco commented on #160
I'll get back to you, I am working on an app
tnx

[2015-09-22 01:16] qq99 opened #161 "Add some helpers for common operations"
I feel like I might have seen these before in the source, but maybe they were removed?
# In `application_helper`:

[code]

`html_safe` above is dubious, but I'm throwing things together here.  These have the same signature as `link_to`

It mirrors the ruby method, but perhaps it should be called `js_link_to` or `easdk_link_to`?

You might use this kind of thing in the erb of your EASDK, e.g., you

[2015-09-23 14:43] kevinhughes27 commented on #161
I don't think those were ever in here but they look good to me.

As for the shop helper yeah we should probably have it - the weird thing about this repo is that it supports not persisting the shop model although I assume almost everyone does. But because of this it makes it hard to add helpers like this because they assume the shop model.

[2015-09-23 15:09] qq99 commented on #161
Ah good point! Not sure if it's worth writing the method to branch and check if `Shop` is defined, or just let the user see an exception if they try to use this

[2015-09-23 15:11] kevinhughes27 commented on #161
I often think it might be better if we were just more opinionated here and forced the shop model ...

[2015-09-23 15:31] qq99 commented on #161
that'd be so great :)

[2015-09-23 15:32] kevinhughes27 commented on #161
maybe for v7 we can look into that

[2015-09-30 23:30] mankind opened #162 "how to rename the sessions controller"
I have read through your documentation, stackoverflow questions and a little bit through the code in this gem but I can see how to rename the **session controller**.  I can see how to rename **shop model**  with   **ShopifyApp::SessionRepository.storage = 'Shop'** but what I want is to rename the **sessions controller**,  because I want to build a shopify app into an existing rails app and I alrea

[2015-10-01 14:59] kevinhughes27 commented on #162
You should be able to run the controllers generator which will copy the controllers to your host app and then rename the sessions controller how you like it. You might want to backup your current session controller of just git checkout on it after the generator runs. Then route to your new sessions controller.

This is a more complicated use case so the generator probably won't generate exactly wh

[2015-10-01 14:59] #162 closed

[2015-10-01 15:20] mankind commented on #162
thanks @kevinhughes27 for clarifying.

[2015-10-09 17:56] qq99 opened #163 "Use threadsafe ActiveResource"
I'm not sure if this has been addressed yet, but I ran into problems today because we weren't using the threadsafe version of AR. Sidekiq worker threads + ShopifyAPI without threadsafe gem = bad news

`gem 'activeresource', github: 'Shopify/activeresource', branch: 'threadsafe'`

I propose we add this as a dep somehow (deps flow down into the user of the gem, correct?), or add a note in the README

[2015-10-09 20:27] kevinhughes27 commented on #163
This gem doesn't specify a worker queue though so I don't know if we really require that in here. It sucks that you guys got hung up on this though.

What I would be okay with is if you added some code into this gem that did generate a proper sidekiq setup as an optional generator and then that generator could change the shopify_api include to be the threadsafe one.

[2015-10-09 21:12] tynichol opened #164 "no errors, no nothing!"
I have followed the instruction well, and after installing the app it attempts to load and I get an error from the heroku app saying something has gone wrong. When I log it, I see no errors. Here is its below:

<code>at=info method=GET path="/favicon.ico" host=infinite-waters-2523.herokuapp.com request_id=fc00f56a-cd13-4200-abcd-ffc8e3a64c5b fwd="104.7.208.77" dyno=web.1 connect=0ms service=1ms st

[2015-10-11 03:15] kevinhughes27 commented on #164
I am going to need more details if I am going to help - what generator did you run? and is this on trying to auth or does the install page not even load?

[2015-10-12 18:59] tynichol commented on #164
shop model generator. I click install and the embedded app begins to load. Then it says something went wrong. When I do a log trail, I get this now.

ActiveRecord::StatementInvalid (PG::UndefinedTable: ERROR:  relation "shops" does not exist

[2015-10-12 19:07] kevinhughes27 commented on #164
you need to run migrate to update your heroku db. If this is a new project I would run all the generators so just `rails g shopify_app`

[2015-10-12 19:07] #164 closed

[2015-10-12 21:27] lulessa opened #165 "config.redirect_uri setting ignored in authentication flow"
1. In config/initializers/shopify_app.rb, set `config.redirect_uri` to any URL other than the standard https://myapp.example.com/auth/shopify/callback.
2. Submit a request to your app's /login route and watch your network logs' query string parameters.
3. The `redirect_uri` request param sent to the /admin/oauth/authorize endpoint is *always* equal to the /auth/shopify/callback route on the host a

[2015-10-13 14:17] kevinhughes27 commented on #165
Its used here: https://github.com/Shopify/shopify_app/blob/master/lib/generators/shopify_app/install/templates/shopify_provider.rb#L5

Can you confirm that it is present in your generated shopify oauth provider? if you updated the gem and didn't add this yourself then it would be missing (the generators don't re-run on update)

[2015-10-13 20:56] lulessa commented on #165
Yes, it is present in config/initializers/omniauth.rb. Here's the full file, unmodified since generation:
[code]
I started a new Rails app and ran `rails generate shopify_app` using shopify_app 6.2.0

[2015-10-13 22:28] lulessa commented on #165
Take a look at https://github.com/Shopify/omniauth-shopify-oauth2/issues/29

They were getting the same message I was getting "Oauth error invalid_request: The redirect_uri is missing or invalid" — even though my `ShopifyApp.configuration.redirect_uri` matches what's set in the partner dashboard.

If I'm interpreting @dylanahsmith's closing reply on that issue, the redirect_uri must have the same

[2015-10-13 22:31] kevinhughes27 commented on #165
That sounds like a reasonable approach to me.

[2015-10-17 23:52] qq99 commented on #163
That's fair @kevinhughes27

I imagine sidekiq (or other non-threadsafe job runners) are pretty popular amongst `shopify_app` users though?  There's a small argument at least from that perspective to mention it in the README.  I don't have enough familiarity with non-Sidekiq job runners to know if they are threadsafe or not.

The real risk is showing/using data from Shop B when you were expecting i

[2015-10-19 15:47] kevinhughes27 commented on #163
yeah - slash is there any reason to not always use the threadsafe version? I would still like to see a sidekiq generator in here :p

[2015-10-22 02:25] sshaw opened #170 "/login Should Redirect if the User Is Already Logged In"
Currently one can visit `/login` if they're already logged. I think it should redirect, the question is where? `main_app.root_path`?

[2015-10-22 14:20] kevinhughes27 commented on #170
You can change this in your app if you would like - if you redirect this url then it would be harder to install the app on 2 different shops since it would redirect the 2nd time.

[2015-10-22 14:20] #170 closed

[2015-10-23 00:39] sshaw commented on #170
Of course

Ah got it.

[2015-10-25 21:32] uurcankaya commented on #165
I created a new app with 6.2 version of the gem, authentication seems to be working fine on local host, when replaced the link with heroku domains it worked as well on the same store (uninstalled and installed again), however when I tried to install the app on some other store it gave me  "Oauth error invalid_request: The redirect_uri is missing or not whitelisted" error, it gives the same error o

[2015-10-26 07:15] lulessa commented on #165
This is a good chance to clarify: If the URL protocol/scheme (e.g., _https://_) and host (e.g., _example.herokuapp.com_) used through your app's entire installation process matches the App URLs set in your partner dashboard, then you don't need the modifications I outlined in this issue, at all.

@uurcankaya — Make sure the app API key and secret set on your Heroku app's config vars are matching y

[2015-10-26 21:21] pshoukry commented on #151
I am facing the same issue, I am using version 6.2.0 of shopify_app, and it's a fresh install:

1- created the app in partner dashboard
2- created new app
3- installed this gem
4- used the generator
5- added the same uri in the  redirect_uri of the shopify_app.rb and the app settings
http://localhost:3000/auth/shopify/callback

Getting the same error, is there something I could be missing or i nee

[2015-10-27 16:34] pshoukry commented on #151
Found a solution, thanks.

[2015-10-27 16:36] kevinhughes27 commented on #151
what did you end up needing to do?

[2015-10-27 16:47] pshoukry commented on #151
I Faced multiple issues but here is the summary of a complete noob with shopify trying to run:

1. App appends /shop/shopname.myshopify.com to the redirect_uri param in the request of the first call ( so if you have http://localhost:3000/auth/callback get changed to http://localhost:3000/auth/callback/shop/shopname.myshopify.com

sol: you have to manually remove that part from the url

2- in the s

[2015-10-29 07:24] hosh commented on #165
I identified a similar problem and traced it to omniauth-oauth2 1.4.x. https://github.com/Shopify/omniauth-shopify-oauth2/issues/31

Version locking it in my Gemfile to omniauth-oauth2 1.3.x fixed it. If you guys are generating a new app, it is probably pulling 1.4.x.

[2015-10-29 08:04] uurcankaya commented on #165
you got it right! It fixed it for me too

[2015-10-29 08:18] hosh commented on #165
@uurcankaya :+1:

[2015-10-29 17:13] kevinhughes27 commented on #165
Thanks for the report! I am going to lock it in the gemfile and make a new release

[2015-10-29 19:14] kevinhughes27 commented on #165
I just tried with a fresh app that pulled down omniauth 1.4x and it worked fine for me

[2015-10-29 19:19] #165 closed

[2015-10-30 03:02] hosh commented on #165
@kevinhughes27 if it isn't `omniauth-oauth2 1.4.x` then it is something. I know that I had it working. Then it broke. It was passing the `shop=domain` params back to redirect_uri, which the ShopifyAPI then rejects.. Then I version locked it back to 1.3.x and it works. Please try to reproduce this -- it's obviously broken for some people even if 1.4.x might not be the root cause.

[2015-10-30 15:03] kevinhughes27 commented on #165
For these auth type issues its very hard for me to reproduce - if I can't help out with a quick conversation then I think the best next steps are for the person with the issue to create a minimal github repo with the issue reproduced so I can take a look. Thanks.

[2015-11-04 12:48] oleksandriuzikov commented on #151
I'm facing this issue too, seems like the authorize request adds `shop=` parameter to the `redirect_uri` causing redirect_uri to be *not whitelisted*, when I remove the `shop` param from the browser's location bar and hit enter it authenticates successfully.

Can you please give me a hint where to remove the `shop` param in the code?

[2015-11-04 12:52] pshoukry commented on #151
1- First time you run the app manually remove it from the address bar in browser
2- in shopify_app.rb leave config.redirect_uri = "\<redirect_uri\>"

Let me know if that fixed your issue.

[2015-11-04 14:40] kevinhughes27 commented on #151
Can you make a repo reproducing the issue?
On Nov 4, 2015 2:52 PM, "Peter Shoukry" <notifications@github.com> wrote:

[2015-11-04 17:51] pshoukry commented on #151
Sure I can, but it's actually happening every time,
1- create a new rails app ( latest version of rails )
2- Add shopify_app gem and bundle install
3- run the generator

Then you should see

**First Problem**

1- go to localhost:3000
2- type the name of the shop and click install

Expected behaviour:
App installs

Actual behaviour:
400 oauth call back not whitelisted error

Workaround
In the addre

[2015-11-05 06:35] kevinhughes27 commented on #151
Can you submit the repo still because I have made 5 apps in the last 2 days
from scratch exactly how you've described and this has never happened to
me.
On Nov 4, 2015 7:51 PM, "Peter Shoukry" <notifications@github.com> wrote:

[2015-11-05 12:37] pshoukry commented on #151
I created the (repository)[https://github.com/pshoukry/shopify_issue] and confirmed the behavior. I just removed my api key.

[2015-11-05 12:39] kevinhughes27 commented on #151
Thanks I'll take a look as soon as I can!
On Nov 5, 2015 2:38 PM, "Peter Shoukry" <notifications@github.com> wrote:

[2015-11-05 12:45] pshoukry commented on #151
Most welcome, let me know if i can help :)

[2015-11-05 12:55] oleksandriuzikov commented on #151
This doesn't work for me.

[code]

It still adds `shop` parameter to the callback uri.

[2015-11-05 13:00] pshoukry commented on #151
Yes it does this is just a work around:
1- remove it first time on install
2- the app works fine after that.

[2015-11-05 13:11] oleksandriuzikov commented on #151
@pshoukry thank you for the workaround but unfortunately this issue doesn't allow me to publish my app to the apps store because I cannot ask customers to remove parameters manually etc.

Can you please point me to the part of the code responsible for adding the `shop` param?

Thanks

[2015-11-05 13:15] kevinhughes27 commented on #151
Yeah I think that work around only works so you can develop the app. I'll
dig into this shortly and get some answers.

Some have suggested forcing your omniauth gem to an older version but I
haven't confirmed this fix yet.
On Nov 5, 2015 3:11 PM, "oleksandriuzikov" <notifications@github.com> wrote:

[2015-11-05 13:37] oleksandriuzikov commented on #151
@kevinhughes27 thank you! :beers:

I've added this to my Gemfile:
[code]

then updated with:
[code]

And the issue is gone.

[2015-11-05 13:44] pshoukry commented on #151
Great thanks

[2015-11-05 15:44] justinstern commented on #151
FWIW I was seeing this issue as well (extraneous `shop` param) until I configured both the `redirect_uri` and `callback_url` for the shopify omniauth provider, as shown in the [`shopify_provider.rb` template](https://github.com/Shopify/shopify_app/blob/4063b808f80c4e8cc89fb6d6378d50b9b377dab6/lib/generators/shopify_app/install/templates/shopify_provider.rb). Setting both of those to the same URL t

[2015-11-05 18:18] kevinhughes27 commented on #151
thanks @justinstern that is the fix - this happens by default in the recently release version of the gem (6.2.1) I noticed the issue repo only used 6.2.0

[2015-11-06 09:44] kubaaa opened #179 "Add custom template to shopify"
Hi. Please tell me how to add custom template via my ruby on rails app in shopify. For example, I want my app added on the checkout page, additional options. How do I do that?

[2015-11-06 14:00] kevinhughes27 commented on #179
Hi there - this question is more appropriate for the Shopify forums https://ecommerce.shopify.com/c/shopify-apis-and-technology

[2015-11-06 14:00] #179 closed

[2015-11-24 17:55] JArmando opened #186 "WebhooksController enable configuring shopify_hmac header"
Currently shopify is sending the requests with the `hmac` in the `X_SHOPIFY_HMAC_SHA256` header and the WebhooksController module expects it to be in `HTTP_X_SHOPIFY_HMAC_SHA256`

If it was configurable thorugh the `shopify_app` initializer it would be easier to fix

[2015-11-24 18:22] #186 closed

[2015-11-24 23:26] uurcankaya opened #187 "Redirect Problem (redirect_to)"
I was just trying to add a billing controller to a test the gem. It used to work with a filter like this:

Home Controller:
[code]
Billing Controller:
[code]
Now redirection is not happening:

Screenshot: http://take.ms/bck7m

Logs give this error:
[code]
What am I missing?

[2015-11-26 00:40] kevinhughes27 commented on #186
I'm assuming you closed on purpose? This code was/is working for me so I believe we are grabbing the right header

[2015-11-26 00:42] JArmando commented on #186
Yes it is working as expected. I was not understanding correctly the way
rails handles the headers. Thanks.
On Nov 25, 2015 8:40 PM, "Kevin Hughes" <notifications@github.com> wrote:

[2015-11-26 00:42] kevinhughes27 commented on #186
cool :+1:

[2015-11-26 03:15] uurcankaya commented on #187
could not get "redirect_to"  working for embedded apps in the controllers, achieved redirection with

[code]

command in the header, in case anybody expriences the same problem

[2015-11-26 15:13] kevinhughes27 commented on #187
@uurcankaya this is because of the embedded app sdk trying to pull the link inside the shopify admin. If you need to link outside of the admin then use the fullpage_redirect_to helper instead and it will jump out of the esdk

https://github.com/Shopify/shopify_app/blob/7459ae0f3fb8a11daeb4490e34f93dff386a80ad/lib/shopify_app/controller.rb#L9

[2015-11-26 15:13] #187 closed

[2015-11-26 19:02] uurcankaya commented on #187
alright! thanks!

[2015-11-27 10:38] alrick commented on #142
hey there!

what's the way to fix this problem? we can't test the app in a local environment?

Thank you

[2015-11-27 13:51] christianblais commented on #142
If you have problem with your local environment, you can always use a tunnel such as (ngrok)[https://ngrok.com/].

[2015-11-27 14:40] qq99 commented on #142
:+1: for ngrok

It's a bit annoying for the free version (as you need to update your app URLs over time as your allotted ngrok subdomain changes) but it works quite well

[2015-11-27 14:50] kevinhughes27 commented on #142
you can just click the run unsafe scripts in chrome and then you can test locally

[2015-11-30 04:43] resistorsoftware opened #189 "Embedded App, oAuth fails with iOS"
When I click on an Embedded App Banner, using iOS 9 -> Safari, the oAuth with Shopify fails on csrf_detected for the strategy. Desktop versions of Chrome, Safari and Firefox all work perfect. Why would iOS have this issue? Is this that silly cookie issue with Safari? If so, how does Shopify not have million of Safari people screaming at them?

[2015-11-30 15:40] kevinhughes27 commented on #189
Can you elaborate on the cookie issue you referenced? Sounds like this might be an issue with the ESDK and not with this rails engine.

[2015-11-30 15:58] resistorsoftware commented on #189
Most browsers allow third party cookies. In the oAuth flow, in the exchange of tokens etc, dealing with sessions, etc, there is usually also a need to write cookies. In this case, most browsers work well. However, Safari by default allows no third party cookies. Thus in any embedded App connection attempt, when exchanging tokens and dealing with the sessions, Safaro chokes and the result is an oAu

[2015-11-30 16:03] kevinhughes27 commented on #189
Thanks for the details! So it does work if you set safari to allow cookies.

Sounds like this is not an issue with the engine and a generic issue with the ESDK auth process

[2015-11-30 16:09] resistorsoftware commented on #189
It does work when Safari gets tweaked to allow cookies. Remarkable how many people use Safari and have to adjust to this tweak.

[2015-12-03 02:41] uurcankaya opened #191 "Inmemory Store vs Session Storage"
Quick question, when shop model generator run here is what we get in shopify_session_repository

[code]

I tried on Heroku this way, and database reset itself with dyno change. Is this the setting for Inmemorystore?  Should I change it to?:

[code]
 readme file confused me on this

[2015-12-03 03:22] christianblais commented on #191
The shop model generator should already have [created a file that sets the `ShopifyApp::SessionRepository.storage` to `Shop`](https://github.com/Shopify/shopify_app/blob/bc83ccb6d556d32dc423d1319b07ada482d4101a/lib/generators/shopify_app/shop_model/shop_model_generator.rb#L18-L20). Did you run `rails generate shopify_app:shop_model`?

[2015-12-03 03:54] uurcankaya commented on #191
I did run it and it is what I have at  config/initializers/shopify_session_repository.rb

[code]

[2015-12-03 03:56] christianblais commented on #191
When everything goes as expected (and it works for me on a brand new install), this is the file you should be getting: https://github.com/Shopify/shopify_app/blob/bc83ccb6d556d32dc423d1319b07ada482d4101a/lib/generators/shopify_app/shop_model/templates/shopify_session_repository.rb

[2015-12-03 03:57] christianblais commented on #191
So to answer your question, yes, changing the file to this will fix your dyno problem.

[2015-12-03 04:15] uurcankaya commented on #191
I have that other app, which I cannot remember when I generated, it has above setting for  config/initializers/shopify_session_repository.rb and works fine on Heroku with Session Storage. Tested many times, restarted dynos many times, works fine.

Has there been any updates on the gem? Why is other app working fine you think?

I fixed gem to '6.2.0' version on both apps

[2015-12-03 05:35] ysyyork opened #192 "What is auth/shopify?shop=aaa.myshopify.com doing?"
I find this part of code and I don't understand what is the path start with auth/shopify. I cannot see this path in routes. And when I use it with devise gem, it says cannot match this path.

[code]

[2015-12-03 17:48] kevinhughes27 commented on #192
all the shopify auth stuff is done using an `omniauth` provider which will create those routes. Have a look at omniauth to understand this. Does that answer your question?

[2015-12-03 17:49] kevinhughes27 commented on #191
Yes this was a recent change to try and make it easier to understand. Sounds like you got caught between generator updates sorry about that.

[2015-12-03 17:49] #191 closed

[2015-12-03 20:01] gduarte93 opened #193 "When installing app, the redirect_uri should contain https, but is using http instead on some computers"
After submitting the form on `https://myapp.herokuapp.com/login` on my some of my computers, the users will be (correctly) redirected to:

`https://mystore.myshopify.com/admin/oauth/authorize?client_id={api_key}&scope={scopes}&redirect_uri=https://mystore.herokuapp.com/auth/shopify/callback&state={nonce}`

There, they can login to their store and install the app.

However, on a couple of my comput

[2015-12-03 20:32] kevinhughes27 commented on #193
Nice issue write up - that is really quite bizarre.

To clarify you are seeing the issue with your app deployed to Heroku and using different computers to install the app on a shop? I just want to rule out different gem versions if this was done locally.

[2015-12-03 20:39] christianblais commented on #193
Did you change these settings recently? Could your "other computers" had cookies previously set with another URL?

[2015-12-03 21:05] gduarte93 commented on #193
Correct.

I just deleted all of the cookies on Chrome, Firefox, and Safari on my main computer. The redirect_uri appears correct on Chrome and Firefox, but now Safari will use http instead. I also deleted the cookies for Chrome on one of the computers that was not working before, and it still does not work.

[2015-12-03 22:11] ysyyork commented on #149
The same problem here but I don't know what's the reason. Can anyone give some clue about this issue?

[2015-12-03 22:26] gduarte93 commented on #193
Actually, with the cookie thing, I deleted them again for Chrome and Firefox, but this time made sure to quit out of them. When trying to install the app this time, it uses http for both browsers on my main computer. So I would get the Oauth error.

I switched `config.redirect_uri = "https://myapp.herokuapp.com/auth/shopify/callback"` to `config.redirect_uri = "http://myapp.herokuapp.com/auth/shop

[2015-12-04 00:00] christianblais commented on #193
Try the same, changing everything to https, both in config and in the partner area, then clear all your cookies again. Does it work?

[2015-12-04 16:59] djoume opened #195 "Accessing /logout causes ActionController::UrlGenerationError"
Steps to reproduce:
[code]

Expected: 302
Actual: 500
[code]

I can workaround the issue by including the logout route in my config/routes, but I think it would be better if we could make it work by default.

How would you feel about using named route in `SessionsController` ?

[code]

Let me know what you think.

[2015-12-04 17:27] kevinhughes27 commented on #195
Yeah if that fixes the issue then I think we should do it! I seem to recall some issues with names routes and engines etc so that might be why its `action: 'new'` at the moment.

[2015-12-05 00:40] #195 closed

[2015-12-07 14:52] kevinhughes27 commented on #149
The engines are likely conflicting with each other. This engine wasn't designed to be used with devise so I don't know where the issue is. I'm not super familiar with devise so I can't offer any more help.

[2015-12-17 10:54] thatdom commented on #193
I had same problem, updated gem to 6.3.0 (I was on 6.2.1) and now it seems to work.

[2015-12-17 15:16] kevinhughes27 commented on #193
I had this issue on an app yesterday that doesn't use this framework - I wonder if the issue might be on Shopify side. I solved by adding both the http and https urls in the partners area.

[2015-12-17 23:52] petrvolny commented on #144
:heart:

[2015-12-18 21:07] #144 closed

[2015-12-28 20:45] avra911 commented on #149
Hi, @ysyyork!

This is a pretty old issue and I do not think was done something in this direction.

I remember I gave up using devise on the project I was involved, because was not really necessary after all. The ideas was to receive facebook session, store in database and create/login shopify user via api using multipass (which is available in a plus paid account).

You can create your own user s

[2015-12-30 08:56] JanC89 opened #203 "redirect_uri not used correctly"
I'm "merging" shopify_app into our existing Rails project.

To avoid routing conflicts, I'm using the following routes:
[code]

This means that the login pages is accessible via `localhost:3000/modules/shopify/login`, and the callback from `localhost:3000/modules/shopify/auth/shopify/callback`

On the parther dashboard, the URL's are changed accordingly.

The problem is that when installing the ap

[2015-12-30 15:39] kevinhughes27 commented on #203
Your routes will be affected because you put them in the scope but omniauth
defines it's routes on its own. You'll have to look into how to overwrite
those specifically.
On Dec 30, 2015 3:57 AM, "Jan Christensen" <notifications@github.com> wrote:

[2015-12-30 16:20] JanC89 commented on #203
Oh, I see.

But, shouldn't it use the `redirect_url` if it is specified?
I mean, wouldn't you otherwise always be forced to use `<domain>/auth/shopify/callback`as domain?

In other words, what would the preferred way of of achieving these custom URLs be?
I could of course just use the default URL, but I would prefer if I could use the above mentioned URLs.

[2015-12-30 20:38] kevinhughes27 commented on #203
I think (not 100% sure) that when you spec that redirect_uri that is just a param that gets sent along it doesn't actually affect where it redirects.

Omniauth does sort of force you with its urls. I'd check their docs and see if they mention how to override it.

[2016-01-04 14:47] kevinhughes27 commented on #149
Echoing what @avra911 said you probably don't really need devise if you are building a Shopify app since this gem takes care of all the Shopify auth for you.

If you are adding users internally to your Shopify app and thats what you want devise for then that makes sense but its going to be a tricky devise setup since its not standard usage. For the issue I would look into disabling devise omniauth

[2016-01-04 14:57] atomgiant opened #204 "Why does the shopify_app use the session instead of hmac?"
The shopify_app is using the session to verify embedded app requests:

https://github.com/Shopify/shopify_app/blob/33f308a454be94e887bba80e39b6e4f8b76caae1/lib/shopify_app/sessions_controller.rb#L19

For an incoming request, I would expect the hmac + shop params could be used to verify the request is allowed for an embedded Shopify app.

The hmac approach has a couple pros I believe make it a bett

[2016-01-04 15:09] kevinhughes27 commented on #204
You're right the current approach does result in the OAuth flow being re-done when the session expires or doesn't exist (like a new browser). If you would like to submit a PR to use the shop param + hmac we can have a look and discuss further. It would be nice if it was configurable for now leaving the current session based method in tact.

[2016-01-04 15:14] justinstern commented on #149
yeah agreed, devise is definitely overkill given that you get the Shopify oauth stuff for "free", which lets you know that a user is authenticated (has the app installed in their shop). Then it's up to you/your app to provide the logic to determine whether the user is authorized to use your app (typically do they have an active recurring application charge, etc)

[2016-01-04 15:20] atomgiant commented on #204
Hey @kevinhughes27 - Thanks for your quick reply.

I mainly wanted to make sure I wasn't missing something.  So it sounds like the hmac + shop is feasible.

I think the hmac + shop param approach may be tough to make work in parallel with the current session approach without doing a something like trying one and falling back to the other.  I appreciate the need to have continuity for this project

[2016-01-04 15:24] kevinhughes27 commented on #204
Makes sense. It would be great if you share your solution either way! I'd be interested in seeing how it works out. I'll leave the issue open for now.

[2016-01-08 00:04] gduarte93 commented on #193
@kevinhughes27 This is what I ended up doing, and it seems to work

[2016-01-08 16:34] #160 closed

[2016-01-20 10:50] heldopslippers opened #208 "Authentication as admin?"
Hi Guys,

I have been breaking my head over this. Is there a way to authenticate as an admin.
We have an admin page where we can see all the shops.

I would like to have some kind of switch which enables us to see the app as the client sees it, so we can help them or check if there are any problems.

Have tried to set just the shopify_domain but that doesn't really work.
Anybody have a solution?

[2016-01-22 15:47] kevinhughes27 commented on #208
Are you using the Embedded App SDK? The issue you are going to run into here is that even though the merchant has installed your app you don't have access to their Shopify account so you won't be able to load the app the same way they can. You are going to need to build an entire separate controller and layout area to load pages for shops outside of the shopify admin.

This controller will just be

[2016-01-22 15:47] #208 closed

[2016-01-23 15:19] heldopslippers commented on #208
Hi Kevin,

Thanxs for the good reply. It is indeed not an issue with the ShopifyApp (or Shopify ofcourse).
Just leaving this here for people looking for a solution:

I did the following (in your authentication controller):
[code]

[2016-01-23 19:14] redronin opened #209 "Create ScriptTags automatically when shop is added to app"
Similar to how the webhooks manager works, it would be nice to have ScriptTags created automatically once a shop is added to an app.

[2016-01-23 19:16] kevinhughes27 commented on #209
:+1: I'd also like to add fulfillment and carrier services in a similar way. PRs welcome!

[2016-01-23 19:17] kevinhughes27 commented on #208
Awesome thanks for sharing!

[2016-01-24 05:12] buggy commented on #209
You can already install Script Tags automatically by using a custom class that implements the SessionRepository (you specify the class in your config/shopify_session_respository.rb). I wrote an article about doing this a few days ago http://www.growingecommerce.com/handling-post-install-tasks-with-the-shopify-app-gem/

While PR #210 solves installing Script Tags post installation it doesn't help w

[2016-01-24 15:16] redronin commented on #209
You could also just run an `after_create` callback on the shop model that would run whatever jobs you needed after.

For example, I'll need to sync products and orders of a shop, as well as set a theme partial. I think I'd probably just define a `post_install` method on my shop model and then in do a `after_create :post_install` or an `after_commit :post_install, on: :create`. Within that `post_in

[2016-01-24 22:30] hirowatari commented on #157
Thanks @guillelopez for coming back and posting your solution.  Had the same issue today.

[2016-01-25 14:57] kevinhughes27 commented on #209
Thanks for sharing your post @buggy and you are right queuing a job in the SessionRepository is a good generic solution for tasks like this. In fact [shopify-sinatra-app](https://github.com/kevinhughes27/shopify-sinatra-app) has something like this. These specific managers are an even higher abstraction though and  I think it would be worth while to have all the basics covered with config and then

[2016-01-28 19:50] triskybro opened #211 "GemRequireError when executing 'rails generate shopify_app' or 'rails server'"
Following the installation instructions on the Readme.md resulted in the error below.

If I comment out `Bundler.require(*Rails.groups)` in application.rb, the command executes, but this is not a viable workaround.

[code]

[2016-01-28 19:56] kevinhughes27 commented on #211
Can you try again with running `spring stop` before? I need more details in order to help you out here - what ruby and bundler version? Can you also post your gemfile please

[2016-01-28 20:12] triskybro commented on #211
Stopping Spring didnt' help.

Ruby Version:
[code]

Bundler Version
[code]

Gemfile:
[code]

[2016-01-28 20:20] triskybro commented on #211
I just tried version 6.0.6 and was able to run both `rails server` and `rails generate shopify_app` successfully

`gem 'shopify_app', '~> 6.0.6'`

[2016-01-28 21:24] kevinhughes27 commented on #211
sounds like there may be an issue with the latest release
cc @gmalette

[2016-01-28 23:20] gmalette commented on #211
@kevinhughes27
I bisected and it seems the problematic commit is 46f6ed767083390a1681b654636b60ddc84b39bf
That's probably a bug that was fixed, because the actual original problem started with 89d41d9a01071112c194e12d44a9013673fbd71c, with the introduction of `ActiveJob`, but without bumping the Rails dependency to 4.2

[2016-01-28 23:24] kevinhughes27 commented on #211
ahh that makes sense (too bad the original bundler message wasn't more helpful). ActiveJob can be used in earlier versions of rails if its included manually or we can just add the dependency of rails 4.2. I can look into fixing this tomorrow

[2016-01-29 16:49] #211 closed

[2016-02-19 18:49] Hammadk opened #220 "Redirection flash in embedded apps"
#### Problem

There is a jarring redirect that happens every time someone installs, or logs into an embedded app. This happens because [SessionsController#callback](https://github.com/Shopify/shopify_app/blob/d5f3cb9bd9f906a9a414e1e78117c78b38a0ff4d/lib/shopify_app/sessions_controller.rb#L25) redirects to the main url of the embedded app.

#### Solution

Instead of redirecting the the app's [main

[2016-02-19 18:49] Hammadk commented on #220
#wont-fix

[2016-02-19 18:49] #220 closed

[2016-02-23 06:16] tomtom87 commented on #151
I tried installing from scratch from this repo to try and make my first shopify app and I am getting this exact same error of the `Oauth error invalid_request: The redirect_uri is missing or not whitelisted`

I have these gems that came with the package

[code]

Please assist I really want to develop an app for shopify!

[2016-02-23 06:18] tomtom87 opened #221 "invalid_scope | Scope does not match, it may have been tampered with."
Hi,

I have followed the guide here (https://github.com/Shopify/shopify_app) and tried to configure my development store and localhost so that I can start developing my first shopify app.

The problem is that when I try to install the application. I get the error

[code]

I have not changed the scopes and do not know how to remedy this issue, please assist how to fix this

Thank you

[2016-02-23 16:08] kevinhughes27 commented on #221
I believe this is due to this: https://github.com/Shopify/omniauth-shopify-oauth2/pull/38

I am going to close here and ping on the other repo. Thanks for the issue!

[2016-02-23 16:08] #221 closed

[2016-02-23 16:13] tomtom87 commented on #221
Ok thanks @kevinhughes27 , how do I fix this then?

[2016-02-23 16:14] kevinhughes27 commented on #221
remove spaces from your scope for the time being or use the patched oauth provider gem. (spaces is easier)

[2016-02-23 16:15] tomtom87 commented on #221
Ah ok, yeh was wondering how to patch the gem. Thanks alot!

On 23/02/2559 BE 11:14 p.m., Kevin Hughes wrote:

--
--

Tom Whitbread
Gript.co.uk

[2016-02-23 16:19] tomtom87 commented on #221
@kevinhughes27 just tested and this is fixed thank you again!

[2016-02-23 16:20] kevinhughes27 commented on #221
my pleasure!

[2016-02-24 19:33] mhoanghold commented on #221
Hi,
I've removed the spaces in my scope definition and I am still getting this error.

[2016-02-24 19:49] kevinhughes27 commented on #221
a fix has been shipped to the provider gem so you can bump the version in your gemfile to `1.1.13`. Whats is your scope?

[2016-02-24 19:50] mhoanghold commented on #221
I have used 1.1.13 and it still fails.

I have it specified as:

  config.scope = "read_products,write_products"

[2016-02-24 20:14] kevinhughes27 commented on #221
@EiNSTeiN- and @dylanahsmith - still having issues here

[2016-02-24 20:17] mhoanghold commented on #221
I've inspected the expected scope and the actual scope. I had previously set write_products as my only scope and then added read_scopes.

When I spit out:

`puts expected_scope.inspect
 puts token['scope'].delete(' ').split(',').sort.inspect`

`["read_products", "write_products"]
["write_products"]`

It seems like the token['scope'] only has the old scope as previously defined or has removed the r

[2016-02-24 20:19] dylanahsmith commented on #221
Oh, right.  I think the server normalizes the scope by removing read_products on a scope with write_products, since write_products implies read_products.

[2016-02-24 20:20] mhoanghold commented on #221
Thanks! Would it possible to update the docs since it still lists read_products separately as a permission?

[2016-02-24 20:21] EiNSTeiN- commented on #221
Oh that's right. We should probably normalize the scopes before sending them to shopify and remove these unnecessary ones.

[2016-02-24 20:29] kevinhughes27 commented on #221
ah of course.

[2016-02-25 17:09] EiNSTeiN- commented on #221
Version 1.1.14 was released for your issue @mhoanghold

[2016-02-26 14:00] chwarnow opened #222 "Where is the token saved? Need it for Proxy to API calls"
Hello Guys,

It is awesome how fast one can start coding with the shopify_app. Good work!
Now what do I have to do to be able to make api calls from a proxy? I guess one has to set up a session for ShopifyAPI and provide the permanent api token. Where is it stored? As far as I understand it is retreived when installing the app. But how do I get it to start the session from the proxy controller?

T

[2016-02-26 15:16] kevinhughes27 commented on #222
Technical answert - the token is saved on whichever object you have configured with the ShopifySessionRepository initializer.

Short answer - if you ran the default generator the token is stored on the Shop model that was configured for you.

[2016-02-26 15:16] #222 closed

[2016-03-08 16:58] wnm commented on #203
Hey, I think omniauth-shopify-oauth2 expects an option called callback_url see https://github.com/Shopify/omniauth-shopify-oauth2/blob/d4f119be212a1e259e291621f07259e956accfff/lib/omniauth/strategies/shopify.rb#L114

so in **omniauth.rb**
it should be
`:callback_url => ShopifyApp.configuration.redirect_uri,`

[2016-03-08 17:03] wnm commented on #193
@gduarte93 I had the same issue in my app, and looked around the code a little bit. As a said in #203, I think the gem omniauth-shopify-oauth2
 is expecting an option called **callback_url**. Not **redirect_uri**. See https://github.com/Shopify/omniauth-shopify-oauth2/blob/d4f119be212a1e259e291621f07259e956accfff/lib/omniauth/strategies/shopify.rb#L114

Can you test these settings:

**omniauth.rb*

[2016-03-08 17:25] kevinhughes27 commented on #203
That certainly looks like where the discrepancy could be coming from. I agree that it is weird that the callback url is generated automatically unless provided and then there is this separate concept of the redirect_uri which is just whitelisting the callback url

@EiNSTeiN- can you weigh in here please - there is lots of confusion around the redirect_uri

[2016-03-08 18:20] EiNSTeiN- commented on #203
The URL you specify in your Shopify partner area needs to match exactly the one you give when redirecting to oauth. In omniauth, you can pass arbitrary parameters to the authorize step by [initializing the provider strategy](https://github.com/Shopify/shopify_app/blob/d5f3cb9bd9f906a9a414e1e78117c78b38a0ff4d/example/config/initializers/omniauth.rb) with a `authorize_params[:redirect_uri]` option.

[2016-03-08 18:57] kevinhughes27 commented on #203
@EiNSTeiN- so are we handling redirect_uri properly for the common use case in ShopifyApp?

[2016-03-08 18:58] EiNSTeiN- commented on #203
As far as I know we are @kevinhughes27

[2016-03-08 19:04] kevinhughes27 commented on #203
That was my understanding as well. It is a bit confusing for people especially anyone with a non default setup

[2016-03-09 15:05] wnm commented on #203
hey guys, thanks for taking the time to look into this. I don't think it's handled properly in the current version of shopify_app, though. As far as I can tell from reading the code, the gem **omniauth-shopify-oauth2** is expecting an option called **callback_url**. not **redirect_uri**. https://github.com/Shopify/omniauth-shopify-oauth2/blob/master/lib/omniauth/strategies/shopify.rb#L18

There wa

[2016-03-09 15:10] EiNSTeiN- commented on #203
You're right, as far as I know `redirect_uri` is not a valid provider option and never was, I'm not sure why it was added to `shopify_app`. I think `callback_path` is the proper way to replace the default `/auth/shopify/callback`.

[2016-03-09 15:24] kevinhughes27 commented on #203
It was added here https://github.com/Shopify/shopify_app/pull/152 and it was my understanding that we did need to pass this parameter along with the request as a url param or else Shopify would return an error to us. This is independent of the actual route afaik.

The callback url thing was a separate issue that we used the redirect uri to temporarily fix until upstream omniauth was fixed. @EiNSTe

[2016-03-09 15:30] EiNSTeiN- commented on #203
Yes, but that parameter is calculated based on the callback_url, so as far as I know passing that option to the omniauth strategy provider has no effect (I could be wrong).

[2016-03-09 16:06] kevinhughes27 commented on #203
@EiNSTeiN- found that omniauth looks like it is setting redirect_uri already: https://github.com/intridea/omniauth-oauth2/blob/26152673224aca5c3e918bcc83075dbb0659717f/lib/omniauth/strategies/oauth2.rb#L48

I'll run through some auth flows removing this param and see what I am able to determine

[2016-03-10 03:10] cefigueiredo commented on #209
@redronin the `after_create` solution is not a properly solution, because if some shop uninstall your app and in a future return and install it again, if you never deleted the shop from your database a `create` event will not be triggered, because your app will identify that there are already a registry for the shop by its `domain` and will just update its token.
So, depend only on `after_create`

[2016-03-11 23:49] joshreeves opened #229 "Missing Webhooks Generator, Controller, etc."
I was attempting to run the `shopify_app:add_webhook` generator and discovered that my installed gem does not contain the necessary code. The repository still appears to contain the code, but the releases and the published gem doesn't seem to have it. Wondering why this is the case. Thanks!

[2016-03-12 00:20] kevinhughes27 commented on #229
Yup the code has been merged but we haven't released the gem yet. If you want the latest code set bundler to use a github dependency. 7.0.0 should ship next week.

[2016-03-12 00:20] #229 closed

[2016-03-12 02:32] joshreeves opened #230 "Omniauth error"
I've set bundler to use the latest code from the repository, but now when I attempt to install or view the app I see a flash of a page with a single HTML link `Continue` which displays for a few seconds and then the entire browser refreshes and displays this Rails error: `OmniAuth::Strategies::OAuth2::CallbackError`.

I did not have this problem when using the latest gem. It seems to install prope

[2016-03-12 02:57] kevinhughes27 commented on #230
What is your system and browser info and is this an embedded app? @nwtn could be related to your changes.

@joshreeves we're going to be QAing the new version before shipping next week. I'd recommend using a released version until then.

[2016-03-12 03:05] nwtn commented on #230
Yup sounds like it's related to my change. What app is it? If possible I'd love to test it with the problematic app itself. +1 to using a released version.

[2016-03-12 04:59] joshreeves commented on #230
Embedded app in Latest Chrome on Mac OSX. It's an unpublished development app. If you need any more info let me know. I'll likely switch back to the gem. Thanks for the quick response!

[2016-03-13 14:58] gopinathpara opened #231 "Need help with Deploying shopify app to heroku"
Hi Kavin,

I've posted this on shopify's partner techenical forum. I though its a good ides to post here as well. Hope that fine.

I've been trying to work on my first app using rails plugin. I followed the instructions as documented by shopify here. Everything is working fine on the first deploy to heroku. I can see the login screen when I opened the huroku app url for the first time. but if a ma

[2016-03-14 10:11] ssuperczynski opened #232 "App during installation does not redirect me back to shopify"
I am redirect strict to my app without Shopify Iframe (without Shopify menu at left hand side), and from console.log I am getting&nbsp;
<blockquote>
<p>Failed to execute &#39;postMessage&#39; on &#39;DOMWindow&#39;: The target origin provided (&#39;https://shoptest.myshopify.com&#39;) does not match the recipient window&#39;s origin (&#39;https://846e6adb.ngrok.io&#39;).</p>
</blockquote>

<p>But

[2016-03-14 16:07] kevinhughes27 commented on #232
How are you redirecting to your app the first time? (what url)

[2016-03-14 16:09] kevinhughes27 commented on #231
This is a heroku issue and is unrelated to Shopify App. I'd recommend using the latest rails and following the heroku guide on how to set up heroku and rails https://devcenter.heroku.com/articles/getting-started-with-rails4. You also may want to add the rails_12_factor gem the heroku recommends.

Also please rotate your api key and secret since you included them in the post above someone could imp

[2016-03-14 16:09] #231 closed

[2016-03-14 16:11] kevinhughes27 commented on #231
I still have heroku precompile my assets for my projects I think that fix is out of date. Are you sure you didn't add anything else to your assets that might be causing them to fail building? Does your app run locally?

[2016-03-14 17:48] kevinhughes27 commented on #230
hmm okay I am also using latest chrome on osx.

I just ran through a tests creating and installing a new app using - localhost, forward and ngrok. All worked fine for me. I thought your scope might be an issue since there was some recent changes there but I tried with your scope and couldn't reproduce.

Can you create an example app that reproduces the problem and include a screenshot of the setup

[2016-03-14 18:13] joshreeves commented on #230
Strange. It's working for me this morning. Can't figure out what is different but I'll keep an eye on it and let you know if it happens again.

[2016-03-15 06:47] gopinathpara commented on #231
Hi Kevin,

Thanks for your response. I spoke to heroku and was advised that there is an issue with `redirect_uri `. I also see this error in command line

`NoMethodError: undefined method `redirect_uri=' for #<ShopifyApp::Configuration:0x007f98d3bcaa98>`

Can you advise if this is some issue with shopify_app gem ?

[2016-03-15 07:21] ssuperczynski commented on #232
I actually didn't change anything from base template. This is my routing:

[code]

[2016-03-15 12:44] ssuperczynski commented on #232
Well I found it.
The problem is located in `app/views/layouts/embedded_app.html.erb`

[code]

`forceRedirect: true` should be `true` but by default is set to `false`

[2016-03-15 12:44] #232 closed

[2016-03-15 14:14] kevinhughes27 commented on #232
When did you generate your app? The default is true in the generator now.

[2016-03-15 14:17] ssuperczynski commented on #232
Around two weeks ago

[2016-03-15 14:17] kevinhughes27 commented on #231
@gopinathpara looks like you are using an old version of them gem along with new instructions. The current release is 6.4.2. redirect_uri was not a thing in 6.06 which looks like you are using from your code above.

We're actually going to be removing redirect_uri for v7 though since its not necessary. In your case I would recommend bumping to 6.4.2 and also re-generating your app since the genera

[2016-03-15 14:18] kevinhughes27 commented on #232
hmmm what version of ShopifyApp are you using?

[2016-03-15 14:22] gopinathpara commented on #231
@kevinhughes27 Thanks for the response. I was actually following this guide
https://github.com/Shopify/shopify_app/blob/master/QUICKSTART.md but then i realised the some of the commands and gem referred in the tutorial are not up to date. But mostly the above guide.

Thanks again Kevin. I'll update the Shopify gem version and will redo the app. hopefully, this will solve the issue.

[2016-03-15 14:29] kevinhughes27 commented on #231
Okay thanks. I'll read through quickstart and make any changes to make this more clear.

[2016-03-15 14:34] ssuperczynski commented on #232
Maybe it is stupid question, but how can I find it?

[2016-03-15 14:36] kevinhughes27 commented on #232
You can check your gemfile and see if it is specified directly there or you can check your gemfile lock. In a rails console you should also be able to type ShopifyApp::VERSION and it should print.

[2016-03-15 14:38] ssuperczynski commented on #232
Thanks,

[code]

[2016-03-15 14:42] kevinhughes27 commented on #232
hmm interesting. Maybe I thought the default to true was in the latest release. It will be in v7 for sure!

[2016-03-15 14:44] ssuperczynski commented on #232
thanks for your help in investigating

[2016-03-15 15:10] kevinhughes27 commented on #232
my pleasure!

[2016-03-15 19:26] #203 closed

[2016-03-15 23:06] joshreeves opened #235 "Questions on webhooks"
I have used the API in the past to create webhooks, and when I do, they show up at the `/admin/webhooks.json` API endpoint. I have the auto-created webhooks working with the latest code in this repo, and am receiving the expected webhooks. However, they do not show up at the `/admin/webhooks.json` API end point. Wondering if anyone had any insight on why that might be. Thanks.

[2016-03-16 05:18] Mochaka opened #236 "Webhooks Controller"
Hey all,

I'm trying to create an app for Shopify, first time coding in Ruby let alone RoR.

I've generated my WebHooks controller etc. What do i do from here?

[2016-03-16 08:10] ssuperczynski opened #237 "How can I do some action during app instalation"
Hey,
this is not a bug, just a short question
How can I do some operations during first installation. I am not asking about scripttag (https://github.com/Shopify/shopify_app/issues/209)

But well, it might be connected. I'd like to ask user for some additional permissions ( another oAuth call to 3rd party application, send some POST message to register user etc..)
Now I am doing it in **HomeContro

[2016-03-16 09:05] ssuperczynski commented on #237
Well I probably answered my question by myself.
I am going to add some another filter in `authenticated_controller.rb`

[code]

If you just could confirm, I am doing it right? ;) :beer:

[2016-03-16 14:33] kevinhughes27 commented on #235
The webhooks index page (/admin/webhooks.json or fetching from the api) only shows the webhooks that belong to you. So if you check the admin endpoint it only shows webhooks created in the admin. If you make a request with your api token you will only see webhooks that belong to your app. This way you can't see and interact with webhooks that belong to other people.

Perhaps you were using a priva

[2016-03-16 14:33] #235 closed

[2016-03-16 14:37] kevinhughes27 commented on #236
If you add the webhook you want to your ShopifyApp initializer then the webhook subscription will be created when the app is installed on a shop. When that webhook is triggered it will be sent to your app and the controller will receive it (provided your routes are setup properly for the address of the webhook you created). Then you can process the webhook and do whatever you need to do.

I am goi

[2016-03-16 14:37] #236 closed

[2016-03-16 14:42] kevinhughes27 commented on #237
Adding a before filter in the AuthenticatedController will run on every request to the shopify portion of your app. This doesn't sound like its what you want - you can avoid this by storing when this action is complete and then skipping this action conditionally. E.g  `return if shop.is_onboarded?`

[2016-03-16 14:42] #237 closed

[2016-03-18 17:58] #209 closed

[2016-03-19 04:57] uurcankaya opened #238 "config.scripttags not working in initializer"
I generated a simple app with shopifyapp 7.0 and I was able to deploy it to Heroku succesfully.

Then configured webhooks as suggested with "config.webhooks", still deploys succesfully

However config.scripttags gives the following errror

`

NoMethodError: undefined method `scripttags=' for #<ShopifyApp::Configuration:0x007f255baa2c60>
remote:        /tmp/build_dbacae4684e430039b8b5341ae0b2960/co

[2016-03-19 05:00] kevinhughes27 commented on #238
The code was just merged yesterday and isn't included in a released version
yet. If you need to use this code you can set your gemfile to pull the
github master dependency.
On Mar 19, 2016 12:57 AM, "Ugurcan Kaya" <notifications@github.com> wrote:

[2016-03-19 06:50] uurcankaya commented on #238
I checked some docs but not really sure how to do that. If I add this to gem file will it pull it?

gem 'shopify_app', :git => "https://github.com/Shopify/shopify_app', :branch => 'master'

[2016-03-19 17:27] kevinhughes27 commented on #238
I think that will work. You can also use `github: 'shopify/shopify_app'`

[2016-03-19 17:27] #238 closed

[2016-03-20 01:16] joshreeves commented on #230
Hi Kevin. Just updated to the latest published gem and the Omniauth issue is back for me. I created a barebones app following the steps in the quickstart guide, and was able to reproduce the bug. I'll provide all of the steps and as much additional details as possible:

1. Create barebones app following quickstart guide (here is the one I created: https://github.com/joshreeves/shopify-test)
2. Set

[2016-03-21 19:24] kevinhughes27 commented on #230
Thanks @joshreeves I'll checkout out your repo in a couple of days (I am at Unite 2016 this week).
Thanks for doing that - it really helps me in the debugging process.

[2016-03-23 00:49] onpaws opened #240 "Authentication issue"
Thanks for your efforts on this gem! Nice to have a great starting point here.

I’m trying to stand up my first Shopify app on Rails using shopify_app 7.0.0.

I can tell things are really close but am encountering a hard to diagnose issue, that only seems to affect when the app is hosted (e.g. on Heroku). However the Heroku app log doesn’t seem to display whatever the problem is. Checked the [foru

[2016-03-23 00:58] kevinhughes27 commented on #240
Did you run rake db:migrate on heroku?
On Mar 22, 2016 5:49 PM, "Pat" <notifications@github.com> wrote:

[2016-03-23 01:21] onpaws commented on #240
@kevinhughes27 You sir are a gentleman and scholar! That sorted things out nicely.

BTW, I see @peterjm has been working on ActiveResource 5 over on branch `experimental`. In the interest of helping the Rails 5 compat effort, is there a good place I could chat with whoever is working on that?

Closing this. Thanks Kevin!

[2016-03-23 01:21] #240 closed

[2016-03-23 15:08] peterjm commented on #240
@onpaws feel free to ping me in the https://github.com/Shopify/shopify_api repo -- it might make sense to open a new issue, or you could jump onto https://github.com/Shopify/shopify_api/issues/194

[2016-03-24 18:58] prasanthrubyist commented on #232
Thank you lot @ssuperczynski  , @kevinhughes27

[2016-03-24 19:02] kevinhughes27 commented on #240
@onpaws Glad I could help!

[2016-03-24 19:02] kevinhughes27 commented on #232
you're welcome!

[2016-03-24 19:06] prasanthrubyist commented on #232
I need one more help I'm new to shopify.....How can I get current shop domain url in my rails controller ? Can you help me...

[2016-03-24 19:07] kevinhughes27 commented on #232
If you ran the main generator then you will have a variable called current_shop available which is an instance of the Shop model. The Shop model has a field called shopify_domain.

[2016-03-24 19:11] prasanthrubyist commented on #232
any examples please.....

[2016-03-24 19:18] kevinhughes27 commented on #232
Sorry the current_shop helper is not actually provided. But it looks like this:

[code]

Then you can use `current_shop.shopify_domain`

The shopify_domain is also stored in the session: `session[:shopify_domain]`

[2016-03-29 18:46] NaliniMane opened #242 "there is an error parsing 'gemfile': you cannot specify the same gem twice with diffrent version requirements."
I am getting this error after modifying gemfile.

there is an error parsing 'gemfile': you cannot specify the same gem twice with diffrent version requirements.
you specified: rails (=7.0.0) and rails (=4.2.6). Bundler cannot continue.

[2016-03-29 18:52] kevinhughes27 commented on #242
Can you past your Gemfile please

[2016-03-30 02:06] NaliniMane commented on #242
source 'https://rubygems.org'

gem 'shopify_app', '7.0.1'
# Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
gem 'rails', '4.2.6'
# Use postgresql as the database for Active Record
gem 'pg', '~> 0.15'
# Use SCSS for stylesheets
gem 'sass-rails', '~> 5.0'
# Use Uglifier as compressor for JavaScript assets
gem 'uglifier', '>= 1.3.0'
# Use CoffeeScript for .coffee assets and views
gem 'c

[2016-03-30 02:07] NaliniMane commented on #242
source 'https://rubygems.org'

gem 'shopify_app', '7.0.1'
# Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
gem 'rails', '4.2.6'
# Use postgresql as the database for Active Record
gem 'pg', '~> 0.15'
# Use SCSS for stylesheets
gem 'sass-rails', '~> 5.0'
# Use Uglifier as compressor for JavaScript assets
gem 'uglifier', '>= 1.3.0'
# Use CoffeeScript for .coffee assets and views
gem 'c

[2016-03-30 02:08] NaliniMane commented on #242
source 'https://rubygems.org'

gem 'shopify_app', '7.0.1'
# Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
gem 'rails', '4.2.6'
# Use postgresql as the database for Active Record
gem 'pg', '~> 0.15'
# Use SCSS for stylesheets
gem 'sass-rails', '~> 5.0'
# Use Uglifier as compressor for JavaScript assets
gem 'uglifier', '>= 1.3.0'
# Use CoffeeScript for .coffee assets and views
gem 'c

[2016-03-30 02:17] NaliniMane commented on #242
this bold lines are comments.

[2016-03-30 02:43] kevinhughes27 commented on #242
why is shopify_app in there twice? also when posting code snippets please put inside the ``` fences so its readable.

This looks like s legit error in your gemfile and nothing related to Shopify App

[2016-03-30 02:43] #242 closed

[2016-03-30 02:53] NaliniMane commented on #242
sorry I didn't know about ``` fences

source 'https://rubygems.org'

'# Bundle edge Rails instead: gem 'rails', github: 'rails/rails''
gem 'rails', '4.2.6'
'# Use sqlite3 as the database for Active Record'
gem 'sqlite3'
'# Use SCSS for stylesheets'
gem 'sass-rails', '~> 5.0'
'# Use Uglifier as compressor for JavaScript assets'
gem 'uglifier', '>= 1.3.0'
'# Use CoffeeScript for .coffee assets and v

[2016-03-30 03:12] kevinhughes27 commented on #242
I updated your comment - the fences go around the entire code block one at the top and the other at the bottom. Then it looks like it does now

[2016-04-02 18:17] NaliniMane opened #244 "Issue with generator"
Please check my issue in attached file.
![errror](https://cloud.githubusercontent.com/assets/12440064/14228250/44bb5b32-f92d-11e5-84f0-d0a89892af40.png)

[2016-04-02 18:48] kevinhughes27 commented on #244
This error is because ShopifyApp is not part of your gemfile or you aren't running the command with bundler. Try bundle exec rails ...

This is not an issue with this gem.

[2016-04-02 18:48] #244 closed

[2016-04-02 21:10] uurcankaya commented on #238
I tested this, it works great.

[2016-04-02 22:14] kevinhughes27 commented on #238
Its also been released now! (7.0.2)

[2016-04-06 00:26] quocble opened #245 "Uninstall app, re-install again redirects without oauth"
I'm so stumped on this issue.  I got rejected from the beta approval and really want to get this in. I appreciate anyone can help.

Steps to reproduce
---------------------------
1. Install app
2. Remove app
3. Install app again

Expected: Send to "Install app" prompt screen
Result: The default /login with the input box

If I re-install again, then it shows properly.  It happens exactly once after

[2016-04-06 14:26] kevinhughes27 commented on #245
Sounds like a session issue. If you clear cookies in between does it work as expected?

[2016-04-06 16:50] quocble commented on #245
Yes.  How do suggest to fix this in the code? I believe I use standard boilerplate code..

[2016-04-06 16:54] kevinhughes27 commented on #245
Are you using the embedded app sdk? I am pretty sure thats just how it works. Let me follow up with the apps team.

[2016-04-06 16:57] quocble commented on #245
I'm using embedded app sdk. Thanks.

[2016-04-06 17:07] forsbergplustwo commented on #245
Hey Guys,

I had a similar issue on one of my apps, and the fix was to make sure the link to your app in the Partner Dashboard is pointing at your /login url of the app.

Sounds like the ?shop= param is not being passed along on the redirect.

Would be great to know the ultimate cause, but at least this can be used as a workaround.

Ps. I'm not a Shopify employee, just another app developer ;)

[2016-04-06 17:20] kevinhughes27 commented on #245
We're looking into it! I want approval to be smooth if you use ShopifyApp.

[2016-04-13 07:49] u007 opened #249 "invalid_signature exception"
hi,

ive created an app for testing using your "example" in your repository.
ive followed the instruction to setup the api key and the secret token.

it went well as im using foderboxen-2.myshopify,
and ive installed my test app,
but after installation, the redirection back to my site throws:
invalid_signature | Signature does not match

what could be the issue?

thanks

[2016-04-13 14:48] kevinhughes27 commented on #249
As per the issue template please create an example app the can reproduce the issue and link to it here. Then I will take a look.

[2016-04-14 02:10] u007 commented on #249
here is my git
https://github.com/u007/shopifod

[2016-04-14 15:30] kevinhughes27 commented on #249
did you copy the example directory? Please use the generator instead. Let me know if your problem persists after running the generator on a new rails app.

[2016-04-15 14:08] u007 commented on #249
i generated a new project from rails ,
then followed the instruction to generate the api and token,

same deal:

OmniAuth::Strategies::OAuth2::CallbackError
invalid_signature | Signature does not match, it may have been tampered with.

my Gemfile

`
source 'https://rubygems.org'

# Bundle edge Rails instead: gem 'rails', github: 'rails/rails'
gem 'rails', '4.2.5.1'
# Use sqlite3 as the database fo

[2016-04-15 14:10] kevinhughes27 commented on #249
can you post that repo online so we can try it out please

[2016-04-15 15:33] u007 commented on #249
https://github.com/u007/fodershop

[2016-04-15 20:48] kevinhughes27 commented on #249
works for me. Make sure you are setting your secret properly and if it is in your ENV make sure something is exporting those vars to the env (aka foreman or dotenv rails).

I did hit this https://github.com/Shopify/shopify_app/pull/243 once though.

[2016-04-15 20:48] #249 closed

[2016-04-15 20:49] kevinhughes27 commented on #245
@ShayneP any update here?

[2016-04-18 06:52] u007 commented on #249
im totally lost,
my error isn't been thrown in my controller,

here is the error:
[code]

[2016-04-18 10:36] u007 commented on #249
okay, i got it working, i mistaken refresh token for secret token

thanks

[2016-04-19 22:04] Trimakas opened #250 "undefined method `variable_size_secure_compare' after rails destroy"
I get this error now after I removed the controller, and lines in the initializer and then ran

rails destroy shopify_app:add_webhook #and then my topic and address..

the POST is still going to: ShopifyApp::WebhooksController#receive even though I deleted it, and that's not the address I provided..

How can I get rid of this??

Thanks

[2016-04-20 14:35] kevinhughes27 commented on #250
I need more information about this issue - which controller did you remove and what did you remove from the initializer? It sounds like you removed the webhooks controller and the webhook config.

rails destroy shopify_app is not a command so it won't do anything. If the app created a webhook on Shopify then you need to deleted the webhook using an api call to delete that webhook. Changing you con

[2016-04-20 14:35] #250 closed

[2016-04-20 15:17] Trimakas commented on #250
Thanks for getting back.. I'm just trying to remove any configurations the engine installed into my code.. Nothing to do with the app in a store.. I continue to get this undefined method error
"variable_size_secure_compare" and I just need to kill/destroy/delete anything to do with the gem and webhooks within my Ruby code.. Including this route shopify_app/webhooks#receive

[2016-04-20 16:01] kevinhughes27 commented on #250
So remove the gem and reset your source control?

[2016-04-22 12:31] Trimakas opened #251 "Webhook controller only works with Rails 4.2.6"
After 2 days of troubleshooting I realized that this method:
'variable_size_secure_compare' for ActiveSupport::SecurityUtils:Module

Only works with Rails 4.2.6, and it not available in 4.2.5.

After upgrading my version of rails I no longer get a NoMethodError.

Might want to let folks know.

Thanks
Todd

[2016-04-22 14:27] kevinhughes27 commented on #251
@Hammadk can you bump our gemspec please.

[2016-04-27 12:42] silaghidragos commented on #151
is there any news on this issues? i'm trying to develop an app for a client but the issues are still there

[2016-04-27 16:56] tomtom87 commented on #151
@silaghidragos same no one replied how to fix it yet so I moved onto other projects...

[2016-04-27 16:59] kevinhughes27 commented on #151
If you submit a repo that I can clone to reproduce the issue then I'll take a look.

[2016-04-27 21:18] #251 closed

[2016-04-27 21:20] kevinhughes27 commented on #251
Thanks @Hammadk ✨

[2016-05-03 15:39] prasanthrubyist commented on #232
Hi @kevinhughes27 , I used above method to get shop url I'cant get, I tried
@shop_name = ShopifyAPI::Shop.current.domain  in my controller, It's get shop domain, But my problem is if I login two shop in same browser, I not getting currently used shop, please help me correct me rignt way....Thanks

[2016-05-03 15:41] prasanthrubyist commented on #232
I need another help, I completed my I want to set 'ShopifyAPI::RecurringApplicationCharge'. I don't have Idea how to set shopify billing API in rails application, So please help me..

[2016-05-03 15:44] kevinhughes27 commented on #232
I'd recommend emailing dev-support@shopify.com with that question since its not really related to this code per say.

As for your first question you can use the `shop` method in any controller that inherits from `ShopifyApp::AuthenticatedController`

[2016-05-03 15:46] prasanthrubyist commented on #232
Thanks @kevinhughes27

[2016-05-05 16:58] resistorsoftware opened #254 "Embedded App Headers"
I am trying to ensure a subscription exists for an App. A before_action method call detects and sets that all up. A redirect_to charge.confirmation_url executes. Log fills with redirect notification. However the Chrome JS console tells me another story. The old X-FRAME-ORIGIN set to DENY ??

In Rails I see the action dispatch blurb about deleting this header key... so what gives?

I am not sure ho

[2016-05-05 17:24] kevinhughes27 commented on #254
I think you need to use the `fullpage_redirect_to` function which loads a tiny partial and then uses javascript to jump out of the ESDK. This is already used for the authentication flow. The helper it here https://github.com/Shopify/shopify_app/blob/master/lib/shopify_app/login_protection.rb#L80.

Is there somewhere in the docs that we should mention this?

[2016-05-05 17:28] resistorsoftware commented on #254
Thanks... I missed that since in Sinatra, I only do the JS escape once to get into the embedded App, and from within the App, I never redirect back out like in the Rails App... not sure how to express it any better than you already did.

[2016-05-05 17:42] kevinhughes27 commented on #254
Cool. I'll let you close the issue after you get this working to confirm.

I was more just wondering if you were following docs elsewhere where we could mention this.

[2016-05-05 18:12] #254 closed

[2016-05-07 00:17] jasonbuehler commented on #193
I am having this issue, and am on version 7.0.2 of the gem. redirect_uri is not a configuration, so no dice there. Anyone still having this issue? I had it with the gem as far back as versions in the 5s, eventually I just rewrote the redirect_to_login method in my controller to redirect to a full url with secure protocol. This seems to always happen redirecting through /login for me.

[2016-05-08 07:58] uurcankaya commented on #245
any update on this :) ?

[2016-05-08 08:10] uurcankaya opened #255 "changing html / css for login screen"
this can be a stupid question but how can we modify the login screen? Generator does not create any views for it so where do we do that?

[2016-05-08 18:27] wnm commented on #193
@jasonbuehler did you try calling it callback_url in your config, as the example above?

[2016-05-08 20:14] jasonbuehler commented on #193
@wnm yes, an error is thrown since ShopifyApp.configuration.redirect_uri is not part of the configuration.

[2016-05-09 14:22] kevinhughes27 commented on #255
The way engines work is that if you supply your own version of a file that the engine provides your app's version takes precedence thus letting you override it.

If you run `rails g shopify_app:views` (the views generator) then it will copy this view from the engine to your app so you can get started overriding it.

[2016-05-09 14:22] #255 closed

[2016-05-09 14:31] kevinhughes27 commented on #193
Yes this was removed since you no longer need to set the redirect_uri parameter.

@jasonbuehler can you share exactly what you did? It sounds interesting.

[2016-05-09 23:28] jasonbuehler commented on #193
@kevinhughes27 I created a new app using the generators provided. I have been copying some relevant logic over from another app to shortcut a bit of the boilerplate app logic, but I don't think I copied over anything that pertained to the authentication. The problem is fleeting, I will be trying to load my dev shop admin and it blocks the iframe due to a mixed content warning as it is trying to lo

[2016-05-10 14:36] kevinhughes27 commented on #193
@jasonbuehler that is the browser blocking the content. Recently chrome seemed to get more strict about this and the allow unsafe content button doesn't fully fix it anymore. (for development). I do all my ShopifyApp work behind a forwarding service like ngrok now which solves the mixed content problem.

[2016-05-11 00:06] jasonbuehler commented on #193
@kevinhughes27 Ya, it is a problem though on production as well, since it is trying to go through http://.../login, the browser blocks the auth request. Is there a way that you know of to strictly enforce https? I have certs set up locally too but it sometimes uses https, sometimes not.

[2016-05-11 00:41] uurcankaya commented on #255
it generated

app/views/shopify_app/sessions/new.html.erb

why another "shopify_app" folder? Is there a specific reason?

[2016-05-11 07:38] wnm commented on #193
I vaguely remember that I had that issue too, but somehow fixed it. Can you confirm that you a) have an https url as config.redirect_uri parameter in config/shopify_app.rb and b) have the same https url in your app settings as redirection url at https://app.shopify.com/services/partners/api_clients/YOURAPP/edit?

[2016-05-11 13:32] jasonbuehler commented on #193
@wnm config.redirect_uri is not part of the config anymore so I can't include it in the shopify app configuration. I have both the http and https version of the redirection url in my app settings due to this bug.

[2016-05-11 13:40] wnm commented on #193
it isn't? then try chaning the omniauth setting directly?

[code]

[2016-05-11 14:20] kevinhughes27 commented on #193
@wnm yeah setting the `redirect_uri` param never did anything. You can specify the callback url like that but omniauth will do this automatically

[2016-05-11 14:25] kevinhughes27 commented on #255
Thats just how isolated engines work (devise for example is the same way). If the extra folder bugs you you can override the sessions controller and override the view path but its probably not worth it.

[2016-05-12 13:36] jasonbuehler commented on #193
@wnm this solves my issue of having to maintain 2 separate callback urls in the app settings, so awesome there. I feel like this isn't going to solve my issue with /login trying to authenticate through http tho. I am actively working on a new app so if and when I run into the /login issue I will try to post details here.

[2016-05-12 22:57] uurcankaya commented on #255
thanks!  yes not really worth the time :)

[2016-05-15 22:28] uurcankaya opened #256 "webhook documentation in the readme file"
In the readme file it says

"The job will be queued with 2 params shop_domain and webhook which is the webhook body."

In the example code job is created like this

`class CustomWebhooksController < ApplicationController
  include ShopifyApp::WebhookVerification

  def carts_update
    SomeJob.perform_later(shopify_domain: shop_domain)
    head :ok
  end
end`

generator creates a controller for th

[2016-05-16 18:13] kevinhughes27 commented on #256
The custom controller example in the readme was a little incomplete (I just updated it). However this only applies if you make your own webhook controller.

If you look at the supplied controller https://github.com/Shopify/shopify_app/blob/master/app/controllers/shopify_app/webhooks_controller.rb#L8 you can see how the webhook is passed into you job.

I don't know the exact contents of that webhoo

[2016-05-16 18:13] #256 closed

[2016-05-18 17:21] resistorsoftware opened #257 "WebHooksManager create problem"
The documentation shows that in the application.rb one can add a webhook that the shopify_app will manage. The problem is the example in the docs does not include the format. Without a format key, the App fails with CreationFailed error.

The reason is the reverse_merge! on the attributes looking for the format key probably bums out, and hence the failure. Perhaps a better flow would be to not fre

[2016-05-18 18:26] kevinhughes27 commented on #257
I think we should just default to json.

[2016-05-20 05:41] uurcankaya commented on #256
thanks! much appreciated!

[2016-05-20 15:08] kevinhughes27 commented on #257
Are you sure this happening?

I was looking into fixing this but looking at the test suite it looks like its already working the way I expect it to. Can you share what code you have that isn't working?

[2016-05-20 15:18] resistorsoftware commented on #257
Configure Webhooks without the format key! From the initializers for Shopify App, as an example:

    config.webhooks = [
        { topic: 'orders/create', address: 'https://poo.fwd.wf/webhooks/created_order' },
        { topic: 'orders/paid', address: 'https://poo.fwd.wf/webhooks/paid_order' }
      ]

With no **format** key, this code caused crashes whenever authenticating to the Shop, as the We

[2016-05-20 16:02] kevinhughes27 commented on #257
Very strange. Could you inspect the contents of the webhook create request without adding the key?

[2016-05-20 16:23] resistorsoftware commented on #257
Worked like a charm today... closing issue.

[2016-05-20 16:23] #257 closed

[2016-05-20 23:38] theducksnuts commented on #230
Hi guys, I'm also experiencing this "Continue" link in my App - I have a theory on how it's caused that you may be able to try replicate - as it doesn't always seem to happen. I am constantly logging in and out of different stores while testing/building - it seems as though this Continue link only occurs when there may be some conflict of this. Although I must add - my continue link doesn't then r

[2016-05-24 14:33] kevinhughes27 commented on #230
The continue link is not an errors its part of the redirect page that escapes the esdk. I agree though it looks kind of weird. @nwtn does the link really serve a purpose? perhaps we should just remove it.

[2016-05-24 15:08] nwtn commented on #230
The idea behind the link was to provide a fallback if both `meta` and JS redirects failed. That’s a pretty specific edge case, so I’m happy to remove the link and only add it back if this shows up as a legitimate problem.

[2016-05-24 15:11] kevinhughes27 commented on #230
Yeah I think it might be too specific - the context in which this executes is inside the Shopify admin which has modern browser and js requirements so we should be fine.

[2016-05-24 15:12] nwtn commented on #230
Not to go on too much of a tangent, but the idea was in cases of broken JS moreso than JS being turned off; we’ve had a few cases of JS breakages recently, and I put this in for resiliency/robustness in situations like that. But anyway, I digress; it probably is overkill for here at the moment.

[2016-05-24 16:04] joshreeves commented on #230
FWIW, when the JS failed in the admin panel a week or so ago, my embedded apps didn't work at all. The existence of the `Continue` button didn't mitigate that. Sorry I can't provide any additional useful details.

[2016-05-24 16:22] kevinhughes27 commented on #230
Yeah lets remove it. @nwtn can you make the change?

[2016-05-24 16:34] nwtn commented on #230
maybe later this week, but if it’s urgent it might be easier/faster for somebody else to grab this

[2016-05-24 16:42] kevinhughes27 commented on #230
no rush!

[2016-05-28 14:24] forsbergplustwo commented on #230
Hey Guys,

At the same time this issue was created, the Shopify Order Printer app began having some new bugs related to the login phase:

1- When selecting an Order in Shopify Admin, and then choosing 'Print with Order Printer', the app will start login, show the 'Continue' link, then instead of showing the selected order/orders, just show the latest order.

2- When selecting an Order in Shopify A

[2016-05-30 13:42] kevinhughes27 commented on #230
@EiNSTeiN- since you worked on Order Printer last - seems like there are some issues with it. I don't know if they are actually related to ShopifyApp or not though.

[2016-05-30 14:22] EiNSTeiN- commented on #230
I believe the Order Printer issues are unrelated to the original issue reported here.

[2016-05-31 09:58] kunwoo309 opened #262 "invalid signature error"
Hello!

my app was running fine, butI suddenly get

OmniAuth::Strategies::OAuth2::CallbackError
invalid_signature | Signature does not match, it may have been tampered with.

I have reinstalled several times but same error occurs.

I have check all the api-key ,secret  , also the url and  redirect_url.
I have used to use ngrok for local develpment, but facing this error , so tried just use localho

[2016-05-31 14:18] kevinhughes27 commented on #262
Everything looks setup fine. Can you try bumping the `omniauth-shopify-oauth2` gem? You're a couple of versions behind.

[2016-05-31 23:33] chintanparikh opened #263 "ShopifyApp::WebhooksManager::CreationFailed"
Hi all -

I used the provided generators to register webhooks. When I went to auth my development shop, I got the error in the title. Here's my shopify_app.rb

[code]

Note that I don't have ActiveJob set up as I haven't deployed to production yet. Everything seems right, so I'm not really sure where to start debugging. Any insight would be appreciated.

Here are the relevant server logs:

[code]

[2016-05-31 23:48] chintanparikh commented on #263
Fixed - it should have been app/uninstalled for the uninstall webhook topic.

[2016-05-31 23:48] #263 closed

[2016-06-01 01:02] kunwoo309 commented on #262
Isn't `omniauth-shopify-oauth2 1.1.4 `the latest version ?

[2016-06-01 08:19] kunwoo309 commented on #262
reinstall ubuntu and its working now...

[2016-06-01 08:19] #262 closed

[2016-06-01 13:50] kevinhughes27 commented on #262
strange. Thanks for reporting back.

[2016-06-01 14:02] kevinhughes27 commented on #263
Thanks for reporting back.

We should probably create a topic whitelist to help people out here. I've seen this mistake a couple of times recently and it happened to me as well.

[2016-06-01 14:03] kevinhughes27 opened #264 "Webhook Manager Topic Whitelist"
It would be easy to have a constant of all the valid webhook topics and validate against them. Its pretty easy to type the topic or forget the tense of the topic.

[2016-06-02 12:39] prasanthrubyist commented on #232
Hi @kevinhughes27 , How can I get  Carrier Service  API to return current shop name??

[2016-06-02 13:58] kevinhughes27 commented on #232
This isn't an issue with Shopify app. Can you ask your question on the forums or email dev-support@shopify.com

[2016-06-02 14:07] prasanthrubyist commented on #232
okay thanks

[2016-06-05 15:58] andriytyurnikov opened #265 "Soften dependency to allow support for Rails 5"
Any chance to get rails 5 support?
[code]

[2016-06-06 13:39] kevinhughes27 commented on #265
I have not tested with rails 5 yet. I don't recall anything that affects engines or generators in the changelog when I read through it so it should be fine. I'd accept a PR that loosens the dep and adds a rails5 build to the test suite.

[2016-06-09 05:23] rjocoleman opened #268 "Flow for private apps"
What is the flow please for private apps?

My review of the code is they're not possible with this, using the non-oauth API key and password pair:

[code]

My understanding is the API is the same just different auth methods?

[2016-06-09 14:11] kevinhughes27 commented on #268
Yes the API is just same just the way you set up the auth is different like you mentioned.

ShopifyApp is mostly for providing all the code around oauth although it has some other helpers now for things like creating webhooks.

The main reason to make a private app is because its easier to setup since it doesn't need oauth. I should note that even if you don't intend to list your app or install it

[2016-06-09 14:11] #268 closed

[2016-06-10 09:53] blindMoe opened #271 "Webhooks not being generated in client shops"
I hope I am not misunderstanding the documentation but after running the following rails command I thought that when a new OAuth session was created the gem would ensure the webhook exists in the clients shop.  It seems like the proper line is added to the config/initializers/shopify_app.rb but the webhook is not created on install of the app.

Rails generator code:
`shopify_app:add_webhook -t ord

[2016-06-10 14:01] kevinhughes27 commented on #271
you are reading the docs correctly.

How are you checking that the webhook exists?

[2016-06-10 17:26] blindMoe commented on #271
@kevinhughes27,  I simply visit /admin/webhooks.json to see if they are there.  They json object returned is empty:
[code]

Also, I setup a few test ones using http://requestb.in and none of the webhooks ever fire.  However, if I manually setup the webhook in the shops admin then I do see them fire so I know I am looking for the request properly.

[2016-06-10 18:01] kevinhughes27 commented on #271
The webhooks admin won't show webhooks created by api clients since its filtered by owner. In that context the shop is the owner not your app. Try querying the webhooks api endpoint with your api client credentials.

[2016-06-14 00:50] blindMoe commented on #271
Kevin,

I was wondering about that and thought it was the case.  After uninstalling my app and re-installing it seems like the webhooks are being created and showing up now.  Thanks for the prompt reply and correct answer!

[2016-06-14 14:15] #271 closed

[2016-06-15 18:17] mikeyhew opened #273 "Support for App Proxies"
We're going to need to use an app proxy for one of our new apps. I'm working on a fork of shopify_app that adds support for them, and will hopefully be sending a PR your way pretty soon.

Since this will be one of my first open source contributions, what do you need to see in the PR for it to be accepted? Is there any work already in progress on adding App Proxy support to this engine?

[2016-06-15 19:01] kevinhughes27 commented on #273
No work in progress yet but I would love to see this feature added!

As far as what you need to do it isn't too complicated - add your code to the engine and provide tests for the functionality. A Readme section is probably in order as well. That should be it, I'm excited to see it!

[2016-06-20 09:46] uurcankaya commented on #230
@kevinhughes27 has continue link removed?

[2016-06-20 14:19] kevinhughes27 commented on #230
ping @nwtn

[2016-06-20 14:20] nwtn commented on #230
@uurcankaya should be gone in latest version, let me know if it's still showing up for you

[2016-06-20 22:44] uurcankaya commented on #230
i am also confused with updating the app with the new gem, it used to create errors when I used generators with new gem, i remember I ended up creating the app from scratch How can I update an existing app? Is there an easy way @kevinhughes27 @nwtn

[2016-06-21 00:46] mikeyhew opened #280 "Extract common patterns from ScripttagsManager and WebhooksManager"
For one of our apps, I'm adding support for CarrierService to a fork of the shopify_api gem. In the process I've noticed that there's some commonalities between CarrierService and the existing code for webhooks and scripttags, and also probably with FullfillmentService which @rjocoleman is adding. All of these resources are created once for every shop in the callback in SessionsConcern, by queuein

[2016-06-21 00:55] mikeyhew commented on #280
What would be a good name for the *Manager class? ResourceManager comes to mind but it seems a bit too broad...

[2016-06-21 01:02] mikeyhew commented on #280
I guess in a sense, they're all event listeners. We could call it ListenerResourceManager

[2016-06-21 13:27] nwtn commented on #230
@uurcankaya You should be able to upgrade by updating the version for the `gem 'shopify_app'` line in your Gemfile and running `bundle install`.

[2016-06-21 13:52] kevinhughes27 commented on #230
yeah updating the gem is all you need to do. Occasionally the generators change but we try to keep all logic inside the gem itself so that upgrading is easy

[2016-06-21 13:57] kevinhughes27 commented on #280
There is definitely some duplication there (and thanks for adding CarrierServices!)

I think the name `ResourceManager` is good.

[2016-06-24 14:40] #245 closed

[2016-06-29 06:27] CgColorsnyc commented on #273
Add a proxy to your app

1. Click to open the Apps section of the Partners dashboard

2. Click on your App's name, then click Edit app settingsfind the "App Proxy" section near the bottom.

3. Find the "App Proxy" section near the bottom.

[2016-06-29 16:13] cymen commented on #142
I wasn't sure where that setting was -- the realized it's on the little shield in the address bar (on right):

<img width="281" alt="screen shot 2016-06-29 at 9 12 32 am" src="https://cloud.githubusercontent.com/assets/121034/16459900/a5dd4600-3dd9-11e6-9606-db437411c051.png">

[2016-07-01 04:25] ashmaroli opened #286 "Current Master - 0554b47 does not load app_proxy/index.html by default"
Current Master - 0554b47 does not load index.html
------------------------

I'm working on a test-app in rails, deployed to Heroku with 2 new controllers and routes.rb configured as per the Readme file.The app has also been set up properly at the Partner's Dashboard.

On trying to access the app from the storefront, I'm served a 404 Status with the URL:
[code]
The page does not open the associated

[2016-07-01 18:45] djones opened #287 "Rails 5 Support"
I notice the `gemspec` file states:

[code]

I'm wondering if there's a plan to support Rails 5 now it's out. I couldn't see any branches working on this.

[2016-07-04 14:24] alanhill commented on #287
Hey @djones there's an open issue for this already (https://github.com/Shopify/shopify_app/issues/265).

There's an open PR currently as well https://github.com/Shopify/shopify_app/pull/272

[2016-07-04 14:25] alanhill commented on #265
I just updated the title to reflect that this is to support Rails 5.

[2016-07-04 15:04] djones commented on #287
Cool. 👍 on updating the issue title to reflect Rails 5.

[2016-07-04 15:04] #287 closed

[2016-07-04 16:49] kevinhughes27 commented on #286
I believe that is intended. You need to specify what action should be used.
cc @mikeyhew

[2016-07-04 16:49] #286 closed

[2016-07-05 08:26] mikeyhew commented on #286
@ashmaroli why would you expect your index.html file to be rendered if there is no controller action for it?

[2016-07-05 08:31] mikeyhew commented on #286
Oh wait, I guess you do have a controller action for basic. OK, I'm assuming this is what your `config/routes.rb` file looks like:
[code]
If that's the case, then you don't have a route for "/app_proxy/" - so of course you'll get a 404 at that url

[2016-07-05 10:34] ashmaroli commented on #286
@mikeyhew, I was testing the proxy verification as per the changes you made to the readme file.
Yes, my routes.rb does look like that.. I even added a get 'app_proxy/index' and get 'app_proxy/basic' in a later commit..but that didnt work obviously.

So, shouldn't the image you added to the readme file be showing instead:

**Proxy URL**
`https://your_app_website.com/app_proxy/index`

or did I fail

[2016-07-05 15:00] swalkinshaw commented on #163
I don't think is needed anymore. The latest/default version of this Gem pulls down activeresource 4.1 which is threadsafe. The Shopify fork of it is no longer needed.

[2016-07-05 15:02] kevinhughes27 commented on #163
👍

[2016-07-05 15:02] #163 closed

[2016-07-05 17:21] mikeyhew commented on #286
No, the proxy url in the image is correct. Assuming the proxy url you chose is "apps/your-app", a request to [some-store-name.myshopify.com/apps/your-app/some/sub/url]() will be routed to  [https://your_app_website.com/app_proxy/some/sub/url](). Does that make sense?

[2016-07-06 03:13] ashmaroli commented on #286
Yes, @mikeyhew it does make sense and it works correctly too.
I was thinking that app proxy was intended to be used to 'mask the url' to a certain page in my app like so:

[code]
[code]

**App Proxy Settings:**
Path-prefix : `apps`
URL: `longhorn`
Proxy URL: `https://appname.heroku.com/app_proxy/charlie`

**End-user Menu Configurations:**
name: Trends
link: Web Address
url: `/apps/longhorn`

So, i

[2016-07-06 03:26] ashmaroli commented on #286
If the above logic is correct in every sense,
-- why is my 'splash' page being rendered outside myshopify.com after being redirected to appname.heroku.com/app_proxy/longhorn (for default content-type.)
or 'splash' being downloaded as a file (If content-type is set to 'application/liquid'.)

-- shouldn't the readme file image reflect the necessary change that proxy url can point to any sub-page und

[2016-07-06 17:57] redronin opened #289 "Embedded app layout has application.js in wrong place to honour data-turbolink-track parameter"
I noticed that using turbolinks 5 with the embedded_app.html.erb layout file, turbolinks does not honour the data-turbolinks-track=true parameter if the application.js is being loaded outside of the <head> tag.

https://github.com/Shopify/shopify_app/blob/19bc142036376bb1b7881c804af4b4ba8cc4c8a1/lib/generators/shopify_app/install/templates/embedded_app.html.erb#L32

https://github.com/turbolinks/t

[2016-07-06 19:38] mikeyhew commented on #286
OK, I think I see what is going on. You want the url of your splash page to
be `apps/longhorn`, not `apps/longhorn/some_sub_url`, for aesthetic
reasons. That makes sense.

I recommend you keep the app proxy pointed directly at `/app_proxy`. It's
up to you, but it'll make things easier for you later on if you add another
app proxy route.

In order to have `/app_proxy`, the root of the `:app_proxy`

[2016-07-07 14:40] kevinhughes27 commented on #289
Does changing the key to be `data-turbolinks-track="reload"` fix the issue as well?

[2016-07-07 15:11] ashmaroli commented on #286
Thank you @mikeyhew . Adding the root action under the namespace solved the issue.
:)

[2016-07-07 16:29] redronin commented on #289
I didn't check.
I just read in the turbolink 5 docs that the link needs to be in the <HEAD>
and just tried that and that fixed my problem.

On Thu, Jul 7, 2016 at 10:40 AM, Kevin Hughes <notifications@github.com>
wrote:

[2016-07-07 16:51] kevinhughes27 commented on #289
We could also add a turbolinks permanent attr. @nwtn I think you moved the JS out of the head - thoughts?

[2016-07-07 17:00] nwtn commented on #289
Ugh, that's frustrating. If there’s any way to do this without having the script tag in the head, that would be ideal -- having resources like this in the head blocks rendering until the JS is downloaded and executed, which is a performance bottleneck.

@Shopify/channels-fed have any of you run into this? Thoughts?

[2016-07-07 17:25] tylerball commented on #289
This would explain a lot.

[2016-07-09 22:16] chintanparikh opened #294 "Can't get a scripttag to work"
Hi all -

I'm trying to get scripttags working with my app. What I eventually need to do is create a "preview" link next to the Add to Cart button, but for now I'm just trying to `console.log('test');` so I can see it working. Here's what I've done so far:

Here's my initializer (shopify_app.rb)

[code]

I've got a script called insert_preview.js at public/insert_preview.js with the following cont

[2016-07-11 14:30] ashmaroli commented on #286
Hi @mikeyhew, if possible can you show me the error that occurs when I call the following using App Proxy:

[code]
[code]
[code]
Error Message:
[code]

All is fine if the index.html.erb contains only regular static HTML markup, the entire page is rendered like any  shopify page.
So wondering if the above is even possible with App Proxy.

Thanks in advance.

[2016-07-11 15:32] kevinhughes27 commented on #286
I don't see how erb vs static html could affect the app proxy since all of this happens on your server before sending anything to shopify. Eg.

Static html request - your server returns html
ERB request - your server renders the erb into html and returns html

In both cases it looks the same to Shopify at the end. I suspect you have some other error in your template or application code. Look at yo

[2016-07-11 15:35] kevinhughes27 commented on #294
Do you see anything in the console? Does it even fetch the script from your server? Do you see anything happening in your rails logs?

[2016-07-12 12:11] ashmaroli commented on #286
@kevinhughes27, I agree about my server returning html corresponding to static/erb request. That's how it is when I access a page containing HTML, + ERB + Liquid tags ( through the same app_proxy_controller but _ProxyVerification disabled_ and _default content-type_ ) on my localhost and herokuapp subdomain as expected:

**ERB** rendered to **HTML**
**HTML** rendered as **HTML**
**Liquid** rendere

[2016-07-12 15:10] kevinhughes27 commented on #286
I can't say what is happening sorry. I would try and step through the case that errors with a debugger and see what happens and try and narrow in on exactly what is going wrong

[2016-07-12 15:35] ashmaroli commented on #286
Thanks anyways, @kevinhughes27.
Any idea, @mikeyhew? Do you have any sample ruby code that pulls shop data via Shopify API and project it back via Liquid API?

[2016-07-12 21:39] mikeyhew commented on #286
@ashmaroli not at the moment, but I'll let you know if that changes

On 12 July 2016 at 11:35, ashmaroli <notifications@github.com> wrote:

[2016-07-17 21:43] mikeyhew commented on #273
#275

[2016-07-17 21:43] #273 closed

[2016-07-18 11:36] Skaelv opened #297 "Ability to change the queue name for ActiveJobs (Aws::SQS::Errors::NonExistentQueue in SessionsController#callback)"
I'd like to be able to customise the queue names for `ScriptTagManagerJob` and `WebhooksManagerJob`. We are using conventions for our queue names and I'd rather not create a new queue named `default`.
I was thinking of adding  the possibility to add `ShopifyApp.config` vars called `scripttags_manager_queue_name` and `webhook_manager_queue_name` (default to `default`) and adding the following lines

[2016-07-18 15:49] #297 closed

[2016-07-20 07:58] mrlamroger opened #304 "raise: false in WebhookVerification breaks in Rails 4"
https://github.com/Shopify/shopify_app/blob/v7.0.11/lib/shopify_app/webhook_verification.rb#L6

`skip_before_filter :verify_authenticity_token` works but `skip_before_filter :verify_authenticity_token, raise: false` gives CSRF error

[2016-07-20 08:34] Beans0063 commented on #304
Confirming this behavior in 4.2.6, removing raise: false resolves it.

[2016-07-20 15:27] kevinhughes27 commented on #304
@swalkinshaw added this for Rails 5 compatibility - we were under the impression it didn't affect older versions of rails.

Come to think of it this is in production on one of my rails 4.2.6 apps. Can you write clear reproduction steps please

[2016-07-20 15:35] swalkinshaw commented on #304
Yeah looks like that was a naive assumption. I'll try and take a look at this today as well.

[2016-07-20 15:44] kevinhughes27 commented on #304
I'm running this fine though ...

[2016-07-20 15:56] swalkinshaw commented on #304
Yeah I'm having a hard time seeing why this behaviour would happen. Adding `raise: false` should just restore how it worked in Rails 4.

4.2.6:
https://github.com/rails/rails/blob/v4.2.6/activesupport/lib/active_support/callbacks.rb#L660-L683

5.0.0: https://github.com/rails/rails/blob/v5.0.0/activesupport/lib/active_support/callbacks.rb#L622-L653

The methods are basically the same with this addi

[2016-07-20 17:24] kevinhughes27 commented on #304
Can someone submit a demo app that reproduces for us please

[2016-07-21 19:57] mikeyhew commented on #289
@nwtn let me know if your situation is different, but for most of my apps it's better that the page is kept from rendering until scripts execute anyway, since the app ui is useless without javascript. As a user of web apps, I also find that I get annoyed when I click on a button and nothing happens because javascript is loading. As far as I know, a big problem with scripts in the head is the lower

[2016-07-21 20:11] nwtn commented on #289
Since this is apparently not working the way it is now, I definitely think a PR to put the `script` back in the `head` is warranted. Let’s get a fix for the immediate problem. @redronin would you be able to do a PR?

Longer-term I think this is worth taking a closer look at, and I’ll keep it on my radar. @mikeyhew you’re right that a fast first paint with an unusable page is not a good experience,

[2016-07-22 02:48] ashmaroli opened #308 "DEPRECATION WARNING: alias_method_chain is deprecated"
Running a freshly generated test-app ( on Ruby 2.2.4 ) with Rails 5 and latest versions of all dependencies raises the following:
[code]

Running on Ruby 2.3.1 also shows `alias_method_chain` deprecation warning.

[2016-07-22 04:27] mrlamroger commented on #304
[code]

[code]

[code]

Sorry for not having a complete app but it's a simple route and controller.

[2016-07-22 13:33] kevinhughes27 commented on #304
We need the full app so we can clone it in order to reproduce. I have an app running this with rails 4.2.6 so something else must be up.

[2016-07-22 13:35] #289 closed

[2016-07-22 13:38] kevinhughes27 commented on #308
The deprecation is actually from ShopifyAPI gem and has been fixed in the latest version
https://github.com/Shopify/shopify_api/pull/240

[2016-07-22 13:38] #308 closed

[2016-07-22 18:46] tobymarsden commented on #304
Sorry, I don't have a demo app, but I'm also seeing this in production. Webhooks are failing with CSRF error on Rails 4.2.6 using the built-in webhook controller.

[2016-07-22 20:36] tobymarsden commented on #304
I suppose this is happening because of https://github.com/rails/rails/blob/v4.2.6/activesupport/lib/active_support/callbacks.rb#L674-L677 in Rails 4:

[code]

The callback is being reinserted into the chain because `raise: false` makes `options.any?` return `true`. In Rails 5 the conditional is `if callback && (options.key?(:if) || options.key?(:unless))`, so `raise: false` doesn't reinsert it.

[2016-07-22 20:51] swalkinshaw commented on #304
@tobymarsden good eye, that looks like what's happening. I thought it might work to supply an `if` condition to check if its defined but that's not enough.

We might have to do an ugly look up to see if its been defined:

[code]

[2016-07-22 20:52] swalkinshaw commented on #304
Or we could check Rails version and use the `raise` version for >= 5.0

[2016-07-22 22:21] tobymarsden commented on #304
@swalkinshaw or, perhaps (and this is also nasty, and untested):

[code]

[2016-07-25 14:03] vfonic opened #311 "Incorrect and old documentation"
Hi,

The documentation you provide for app development is different on every single page I find it.

I'm using latest rails 5 supported gems:
`shopify_api (4.2.2)`
`shopify_app (7.0.11)`

This generator doesn't exist:
https://github.com/Shopify/shopify_app#app-proxy-controller-generator

Usage instructions are wrong:
http://shopify.github.io/shopify_app/

I've added my secrets with: `rails generat

[2016-07-25 14:05] kevinhughes27 commented on #304
Update from my side - I was incorrect my production app is not using the webhooks controlller only the webhook manager.

I'd prefer the Rails 5 check explicitly vs the bogus proc.

[2016-07-25 14:07] swalkinshaw commented on #304
Yeah I'm in favour of the explicit Rails version check. I'll try and get a PR up today.

[2016-07-25 14:09] ashmaroli commented on #311
Hi vfonic, if you can give us the exact steps to how you tried to generate the App Proxy Controller, we can provide a solution.

[2016-07-25 14:11] kevinhughes27 commented on #311
The github page is out of sync - I am working on getting that sorted out. This is why you arguments didn't work when passed to the generator. The repo readme is up to date with how to do this.

The app-proxy generator does exist just only on the master branch and not in the last release since we haven't made a release that includes it yet.

Sorry for the confusion!

[2016-07-25 14:13] vfonic commented on #311
[code]

[code]

Brand new rails 5 application `rails new <app_name>`. I've replaced `sqlite` with `pg` and added `figaro` gem. If needed, I can create a new app and push it to github and send you a link?

[2016-07-25 14:15] kevinhughes27 commented on #311
Its because the proxy generator isn't in version 7.0.11 which you are using. If you need it point your gemfile to a github sha or wait for us to make a release

[2016-07-25 14:15] ashmaroli commented on #311
To use the latest unreleased version of the gem, please update your gemfile as follows:

[code]

[2016-07-25 14:17] vfonic commented on #311
Ok, I'll just use the `master` branch or live without the generator.

Thanks for help!

[2016-07-25 14:17] #311 closed

[2016-07-26 21:27] swalkinshaw commented on #304
PR for fix is here: https://github.com/Shopify/shopify_app/pull/315

[2016-07-27 05:30] uurcankaya commented on #304
Confirming this behavior in 4.2.6...

[2016-07-27 15:42] #304 closed

[2016-07-27 15:43] swalkinshaw commented on #304
This has been fixed in master and a new release be done soon.

[2016-07-28 02:23] sshaw opened #316 "Allow One to Add a `call`able Value to The scripttag List"
The caller should pass in the Shopify domain and token. This will allow for all sorts of things. #285 comes to mind.

[2016-07-28 14:15] kevinhughes27 commented on #316
If I understand correctly you're talking about adding an arbitrary hook that is called after the auth is completed? I did something similar in https://github.com/kevinhughes27/shopify-sinatra-app. PRs welcome!

[2016-07-28 14:35] sshaw commented on #316
Sorry, should have been more clear. I meant a scripttag hook. Something like:

[code]

[2016-07-28 14:38] kevinhughes27 commented on #316
Can you elaborate a bit more on the use cases that this enables? I'm not a big user of script tags

[2016-07-28 16:35] sshaw commented on #316
It allows one to generate store specific scripts without having to incur the overhead of looking up a  specific script at load time.

Currently the shop name gets tacked on to the script URL. In general this is fine but, since async scripts are (in most cases) [The Way :tm: for an app to add functionality to a store's frontend](https://help.shopify.com/api/guides/use-javascript-responsibly), it pr

[2016-07-29 17:35] travishaynes opened #318 "Proxies that fail authentication should raise a forbidden error, not unauthorized."
When the authentication of a proxy fails, it returns an unauthorized error: https://github.com/Shopify/shopify_app/blob/master/lib/shopify_app/app_proxy_verification.rb#L16

Receiving an unauthorized response from a server is basically telling the user that they are not authenticated, and that they should re-authenticate and try again. It's also a requirement to include a `WWW-Authenticate` header

[2016-07-29 18:34] kevinhughes27 commented on #318
Sounds reasonable to me. PR's welcome

[2016-07-29 18:47] kevinhughes27 commented on #316
Okay I think I understand. This would require a change inside the ScriptTag manager to check if the object for `src` responds to some method (like `call`) and if it does pass the current shop to that method otherwise assume it is a sting and use it directly.

I would be okay with this. @redronin - you added the script tag manager. Does this make sense to you?

[2016-07-30 12:59] ashmaroli commented on #318
gez, this is a suitable thread to pose the following question. I've been trying to wrap my head around it. Do either of you have a simpler explanation?

The referenced sections being:

---

[2016-08-02 13:39] kevinhughes27 commented on #318
Not familiar with this sorry.

[2016-08-02 18:17] ashmaroli commented on #318
no probs. :smiley:
cc: @mikeyhew

[2016-08-02 22:08] travishaynes commented on #318
@ashmaroli This does not apply to Shopify apps, because they're not actually acting as a proxy. That term is actually kind of misleading because Shopify is the real proxy in this case. Just break it down to see what I mean: The request goes from a browser to a Shopify store, then from Shopify to our app which  in turn replies back to Shopify, which then hands that request back to the client that m

[2016-08-03 03:02] ashmaroli commented on #318
Thanks Travis, its a lot more clear now, as you explained with the context of shopify apps.

[2016-08-03 15:39] mikeyhew commented on #318
@travishaynes Sounds good, and should be a simple switch. I'll post a PR shortly

[2016-08-07 12:06] rahuldstiwari commented on #262
Same issue happens to me. It was due to different time setting in Ubuntu. Now it works after setting 'automatically time from Internet'.

[2016-08-08 05:08] uurcankaya opened #324 "Updating App Scopes"
It used to automatically redirect user to auth screen when there is a change in app scopes, now it is not doing it and gives 403 forbidden error.

Any ideas?

[2016-08-08 14:14] kevinhughes27 commented on #324
Can you provide some replication steps? Also is this an issue with Shopify App specifically?

[2016-08-09 00:56] uurcankaya commented on #324
- create an app with certain scopes and install it to a store

- change scope of the app and deploy

- go back to store to login

and you are not redirected to authorization screen to give permission to new scopes

[2016-08-09 13:47] kevinhughes27 commented on #324
Did you clear the session? If you still have a session it would just use it rather than re-authorizing

[2016-08-09 18:25] wlbrough opened #327 "Webhooks returning 401"
Minimal implementation repo: https://github.com/wlbrough/mass-buy

Created a new rails app
Added shopify_app gem
Ran default generator
Ran webhook generator
Deployed to Heroku

Server logs: http://pastebin.com/wU6fsYJL

Adding 'config.action_dispatch.perform_deep_munge = false' to config/application.rb gets rid of the 'Value for ... set to nil' warnings, but doesn't seem to help the 401 issue.

[2016-08-09 20:55] jamiemtdwyer commented on #327
Wlbrough,

Shopify_app will return 401 Unauthorized if the `HTTP_X_SHOPIFY_HMAC_SHA256` does not match what is expected - this is a security feature. I would imagine that this is not a real webhook request being sent by Shopify considering that the `id` is 123456.

See this snippet for more information on the signing mechanism: https://github.com/Shopify/shopify_app/blob/cb847761bb5498b1f0f085dae6

[2016-08-09 21:05] jamiemtdwyer commented on #327
I see what's going on here -- this webhook was created via the admin and you're sending a test notification. `shopify_app` expects the HMAC-SHA256 header to be signed with the secret key of your application. If you create the webhook from the appropriate api client (the same that you're testing with), you won't run into this issue.

[2016-08-09 21:05] #327 closed

[2016-08-09 21:07] wlbrough commented on #327
@jamiemtdwyer I triggered that request from the admin area of a test store by clicking the "send test notification" link. (Image: https://goo.gl/photos/QZQcKrGgGVdGWtCs7) I am also getting this result when I actually place an order in the test store.

[2016-08-09 21:41] jamiemtdwyer commented on #327
You need to create the webhook via your app instead of the admin. `shopify_app` is expecting the webhook to be signed with the secret key for your application, but webhooks created via the admin are signed with a different key.

[2016-08-09 23:40] uurcankaya commented on #324
How do you suggest clearing sessions? Deleting tokens? Isn't still there a chance that user may try to use the app without updating permissions?

[2016-08-10 03:05] kevinhughes27 commented on #324
What session store are you using? I am trying to narrow down if the issue
is in shopify app or if it is in shopify.

On Aug 9, 2016 7:40 PM, "Ugurcan Kaya" <notifications@github.com> wrote:

[2016-08-10 13:48] kevinhughes27 commented on #324
To elaborate if you are using a cookie session store you need to clear you cookies. If you are using redis flush redis etc.

[2016-08-10 16:56] wlbrough commented on #327
Ok I have it working now. Thank you for clarifying. I think what tripped me up was that the webhooks don't appear in the store admin when they're created through the app. It might help to clarify that in the docs.

[2016-08-11 09:44] ashmaroli commented on #324
I suspect something got changed at Shopify's end. I generated two new apps with same credentials:
- one with shopify_app v7.1.0
- one with v7.0.11 (uninstalled v7.1.0.)

and ran them independently (locally).
Both raised the same error, only, in my case, it was `404 - Not Found`

If you can replicate the same error by following the same steps, we'll be able to debug better.
If you still dont get a

[2016-08-11 13:37] kevinhughes27 commented on #324
@EiNSTeiN- have there been any changes recently?
@alanhill can you try and reproduce?

[2016-08-11 15:10] EiNSTeiN- commented on #324
I don't know of anything that could have changed to produce this behavior

[2016-08-12 01:17] uurcankaya commented on #324
@kevinhughes27 i am kinda confused, how can i delete all cookies from the app? Consider me a newbie to rails

I tried with session.destroy, but it is probably not the best solution. There should be a easier way to detect app scope change.

If we could pick app scopes from Partner dashboard, that would be the best, then Shopify would detect the change and could force for reauthentication

[2016-08-12 19:31] EiNSTeiN- commented on #324
@uurcankaya I don't believe shopify_app offers any facilities to automatically re-authorize the app when you change your configured access scope. I also don't believe it ever did. You may have seen the authorization screen in the past because your session expired (ie. the session cookie stored in your browser had expired) or you used a different browser.

There are two ways I would suggest you can

[2016-08-14 15:18] ashmaroli commented on #324
So sorry guys, it was indeed an error at my end.. I revisited the settings in I entered for the new apps, I didnt verify if 'Enable embedded app SDK' was checked.
All is well, And this entire issue is simply a non-issue.. I repeatedly changed the scopes in my test-apps and they were successfully detected by Shopify..

[2016-08-15 13:27] kevinhughes27 commented on #324
So you had the ESDK un checked but your app was loading the ESDK javascript?

[2016-08-15 14:44] ashmaroli commented on #324
The ESDK was checked 'disabled' by default. I overlooked that while generating a new app on Shopify.
I realised the error when I checked the chrome console. The javascript file requested was returning the 404 as `forceRedirect` was set to true in embedded_app.html.erb

[2016-08-15 14:45] kevinhughes27 commented on #324
ahh okay thanks for the clarification

[2016-08-15 14:45] #324 closed

[2016-08-15 14:46] kevinhughes27 commented on #265
@swalkinshaw this can be close eh?

[2016-08-15 14:48] #265 closed

[2016-08-17 08:09] SylarRuby opened #329 "Oauth error invalid_request: The redirect_uri is missing or not whitelisted"
Ruby 2.3.1
Rails 5.0.0.1
shopify_api (4.3.0)
shopify_app (7.1.1)

App URL: http://demo.herokuapp.com/
Redirection URL: https://www.demo.herokuapp.com/auth/shopify/callback

[code]

When entered `mystore.myshopify.com` I get error as in title. Nothing's wrong with your gem, correct? So what's the way forward? Not compatible with Rails 5?

This is a new app so I assume issue our your end?

[2016-08-17 12:26] SylarRuby commented on #329
Now Im getting `The authorization code was not found or was already used`

[2016-08-17 13:37] kevinhughes27 commented on #329
I haven't tried with rails 5 yet but I think it should still work. Probably not the issue but you have the scope set twice.

Can you install the app locally?

[2016-08-17 13:44] SylarRuby commented on #329
Yes. I did corrected the scope but still same issue. I havent tried locally because the redirect will have issues so I push to heroku and install from there. The app installed but redirected with tat message. The app wont open from the store either.

[2016-08-17 13:53] kevinhughes27 commented on #329
I would recommend setting the app up locally first and then deploying to heroku once you have it working. I usually work with 3 sets of configuration which all work at any given time: development, staging and production. You can create multiple API clients no problem or add multiple callback urls to a single (I recommend multiple clients).

Deploying to heroku is a slow iteration cycle to fix prob

[2016-08-17 14:01] SylarRuby commented on #329
Ok. Just did this locally. When pressed install to install the app, it redirects with `The authorization code was not found or was already used`

I'll try with Rails 4 and see.

[2016-08-17 14:29] SylarRuby commented on #329
@kevinhughes27 Ok. Not compatible with Rails 5; works with Rails 4.2.7.1. Since Im new to Shopify, Should I see something:

<img width="1149" alt="screen shot 2016-08-17 at 15 27 47" src="https://cloud.githubusercontent.com/assets/7381195/17740116/56fff10e-648f-11e6-814a-1829880cde1e.png">

[2016-08-17 14:38] alanhill commented on #329
At first glance it looks like you just need to click the shield in the address bar to allow insecure content since it's just running locally.

[2016-08-17 14:39] kevinhughes27 commented on #329
What app server are you running and what is your session store / did you create a shop model in your database. I wonder if the in memory session doesn't work with Rails 5 because of puma.

[2016-08-17 14:42] SylarRuby commented on #329
@alanhill Was correct. Thanks guys. I'll close this but still an issue with Rails 5 ;)

[2016-08-17 14:42] #329 closed

[2016-08-17 14:45] kevinhughes27 commented on #329
Can you answer my question about the the shop model?

[2016-08-17 14:48] SylarRuby commented on #329
@kevinhughes27 Oh. I have not created a Model for Rails 4x. I did created a model for Rails 5 but still got the issue. Is that the issue for Rails 5?

[2016-08-17 14:49] kevinhughes27 commented on #329
nah I was thinking that rails 5 without the model might not work because of puma

[2016-08-17 14:51] SylarRuby commented on #329
This was in Rails 5:

[code]

[2016-08-17 14:55] kevinhughes27 commented on #329
Thanks. Not sure what the issue is then. We'll have to look into it

[2016-08-19 18:39] SylarRuby opened #332 "Custom Session Controller"
Rails 4
Ruby 2.3.1
Shopify_app 7.1.1

App works great. My issue is with the session. Can you create a custom session controller that works with other api providers? When I authenticate with another api, my token is not saving.

I've created a custom controller with the api logic etc and custom routes. When I'm redirected from the api's website, I get invalid token.

How to have two or more open se

[2016-08-19 18:44] kevinhughes27 commented on #332
Every part of the engine can be overwritten - I have an app in production that is actually 2 different Api Clients as far as the app store is concerned (2 different but similar integrations sharing some common code).

I need some more details to point you in the right direction.

[2016-08-19 18:49] SylarRuby commented on #332
@kevinhughes27 Great!

Im messing with [Xerioxzer](https://github.com/waynerobinson/xeroizer). So I have a `XeroSessionsController` in `app/controllers/xero_sessions_controller.rb` with the xeroizer's controller information. `new` method takes me to xero's website to be authenticated and redirects to the home page (homecontroller). I'm lost from there.

[2016-08-19 18:54] kevinhughes27 commented on #332
Ha my app also uses Xeroizer!

Xero should redirect you back to that controller as long as your callback routes are setup properly. Then you can store that session wherever. This doesn't conflict with ShopifyApp at all so you'll be fine.

If its not working I would look at where Xero is redirecting and if it is hitting your app try and get into a debugger session

[2016-08-19 18:57] SylarRuby commented on #332
@kevinhughes27 Ha! Ok.

Well at first it was redirecting to the same controller. I created a `show` action with the view template. So when on the `show.html.erb` I get "Token has not been provided".

[2016-08-19 19:05] SylarRuby commented on #332
Shyt! My mistake! I should have renamed `create` to `show`. I also need a partner account for longer sessions ;) Thanks for the clues!

[2016-08-19 19:05] #332 closed

[2016-08-19 19:07] kevinhughes27 commented on #332
Happy to help!

[2016-08-26 18:39] SylarRuby opened #334 "How to: API Calls from console"
No issue here. How to make api calls from the rails console?

[code]
I thought that would work. No? How?

[2016-08-26 18:40] kevinhughes27 commented on #334
You need to set the session first since the API client doesn't know what credentials to use. I usuallu setup a method on the shop model to set itself as the active session for console use.

[2016-08-26 18:40] #334 closed

[2016-08-26 18:42] SylarRuby commented on #334
@kevinhughes27 A tiny bit in layman's terms?

[2016-08-26 18:42] kevinhughes27 commented on #334
Here is a method that I have used (on the shop model):
[code]

[2016-08-26 18:46] SylarRuby commented on #334
@kevinhughes27 Cool. Is there a before filter for that method? After that, what's next? I could go in console and make calls?

[2016-08-26 19:03] kevinhughes27 commented on #334
I call it manually in the console for the shop I am working with, eg. `shop.with_shopify!`

[2016-08-26 19:14] SylarRuby commented on #334
@kevinhughes27 Last question here, I now get:

[code]

Where to change the permission?

[2016-08-26 19:18] kevinhughes27 commented on #334
Is your shop connected properly to begin with? Does your home controller render products like it does after the default generation? I don't really have enough context on what you are doing to help with this error message.

[2016-08-26 19:22] SylarRuby commented on #334
Yes, connected properly. I can see my products etc. Im following [this guide here](http://www.rubydoc.info/gems/shopify_api). In console:

[code]

[2016-08-26 19:27] kevinhughes27 commented on #334
ooooh okay so when you are using Shopify app all the initial token exchange is done by omniauth so don't do any of this manually. The docs in Shopify api itself are there if you are not using this framework.

So I suspect you are using the wrong token. You want the token that is saved onto your shop model by omniauth. This is the token that is used for your home controller.

Does that make sense?

[2016-08-26 19:39] SylarRuby commented on #334
I dont see an easy way to use the console without a token. I have to put this in the controller:

[code]

Then got to view to copy token, the repeat token process as in my previous comment.

[2016-08-26 19:40] kevinhughes27 commented on #334
you need the token but that token is already in your database after installing the app for a shop

[2016-08-26 19:47] SylarRuby commented on #334
OHHHHHHHHHH!!!!!

[code]

Thanks!

[2016-08-26 19:48] kevinhughes27 commented on #334
You are welcome! Happy developing!

[2016-08-27 13:13] SylarRuby opened #335 "How to use localhost for app preview"
Do we have a slack channel we could use to ask question?

How to? I wish not to use shopify admin iframe.

[2016-08-27 13:43] #335 closed

[2016-08-28 11:06] SylarRuby opened #336 "Receive Webhooks with localhost:3000"
Can the webhook address be `http://localhost:3000/webhooks/products_update`? If yes then nothing is working. When I ran the code below, then edited a product in shopify, my console shows nothing after hitting the save button:

[code]

[2016-08-28 11:36] kevinhughes27 commented on #336
You cannot receive a webhook to localhost since only your computer knows
what the address of your own localhost is. Shopify can't route to your
machine unless you tell it how. I recommend using ngrok or forward to test
webhooks locally.

On Aug 28, 2016 7:06 AM, "Daveyon Mayne" <notifications@github.com> wrote:

[2016-08-28 11:39] SylarRuby commented on #336
In your youtube video I see you used https://forwardhq.com 😉 Thanks

[2016-08-28 12:01] SylarRuby commented on #336
@kevinhughes27 Ive used the link above to get a forward. Link works but still not triggering a product update. Nothing in console when I change a product price. Do I need to do something in shopify? Im now using Rails 5.

[2016-08-28 12:25] buggy commented on #336
https://ngrok.com/ works well. Make sure you've modified the webhooks configuration in config/initializers/shopify_app.rb to use the URL that ngrok provides and that you've re-install the app so that it adds the webhooks with the correct address. You can monitor webhook callbacks in the terminal window that you launched ngrok in.

Also, if you re-start ngrok remember that you'll get a different UR

[2016-08-28 12:27] SylarRuby commented on #336
@buggy Ok. One draw back to all this. If I need to add another webhook, the user has to reinstall the app. Tell me there is another way of adding webhooks.

[2016-08-28 16:12] #336 closed

[2016-08-28 17:13] kevinhughes27 commented on #336
If you need at add another webhook later you can do it in a rake task or
something.

On Aug 28, 2016 12:12 PM, "Daveyon Mayne" <notifications@github.com> wrote:

[2016-08-28 17:31] SylarRuby opened #337 "401 (Unauthorized)"
Please tell me what I'm doing wrong with [app_proxy](https://github.com/Shopify/shopify_app#recommended-usage).

React:

[code]

Controller:

[code]

Shopify Partner:

[code]

When the ajax is called, I get as in title and my log shows:

`Filter chain halted as :verify_proxy_request rendered or redirected`

Edit:

If I place this in the controller, it works:

[code]
Im using Rails 5, my ruby knowl

[2016-08-29 05:11] ashmaroli commented on #337
whats the response when you try:
[code]

[2016-08-29 05:26] SylarRuby commented on #337
@ashmaroli I got

[code]

In logs:

Completed 401 Unauthorized in 8ms (ActiveRecord: 5.6ms)

[2016-08-29 06:54] ashmaroli commented on #337
I'll give you a generic answer regarding the usage of app-proxy.

Based on the example provided in the [README](https://github.com/Shopify/shopify_app#recommended-usage), and the following settings at Shopify Partner Dash,:
[code]

then, navigating to `https://myshop.com/apps/foobar` will `GET` content at `https://appname.herokuapp.com/app_proxy`.

To `GET` `reviews` resources at `https://appname.

[2016-08-29 07:12] SylarRuby commented on #337
@ashmaroli So what would the `routes.rb` looks like for that?

[2016-08-29 07:23] ashmaroli commented on #337
[code]

[2016-08-29 07:25] SylarRuby commented on #337
Cool. I'll try this in few minutes. Thanks

[2016-08-29 07:27] ashmaroli commented on #337
ShopifyApp 7.1.0+ comes with a app_proxy_controller [generator](https://github.com/Shopify/shopify_app#app-proxy-controller-generator)

[2016-08-29 08:05] SylarRuby commented on #337
@ashmaroli Oh! I'm not requesting a page, I need to access a controller method, that's why I `post`.

[2016-08-30 06:28] ashmaroli commented on #337
Ah.. from my understanding, Shopify Application Proxies are a one-way street.
You can pull a page from your app and display it on your store. But, you cant push data from your shop to  your app via the storefront (i.e. only via the shopify admin dashboard)

/cc @kevinhughes27

[2016-08-30 06:34] SylarRuby commented on #337
Ah! My controller now looks like this and it work, what dangers are there by just having it like this:

[code]

[2016-08-30 06:38] ashmaroli commented on #337
Kevin Hughes will get back to you on that and more..

[2016-08-30 13:40] kevinhughes27 commented on #337
I am not super familiar with app proxies but @ashmaroli is right they only work for GET requests from what I can see.

If you need to make a POST you'll have to implement this yourself and it won't be an app proxy. I'd recommend just posting to another endpoint on your application that uses a regular controller. You might need to add some code to say what shop it is for and verify that you made th

[2016-08-30 13:40] #337 closed

[2016-08-30 13:43] SylarRuby commented on #337
@kevinhughes27 Super! All I did was to add `skip_before_action :verify_authenticity_token, raise: false` and all is well ;)

[2016-08-30 13:49] kevinhughes27 commented on #337
You've also got the `AppProxyVerification` concern commented out. This isn't really an app proxy anymore this is an API for your application. I'd recommend a new controller.

[2016-08-30 15:31] travishaynes opened #338 "For embedded apps, signing out will show the install page inside of the store's admin panel."
Perhaps redirect them to their store's apps page instead?

[2016-08-30 16:12] kevinhughes27 commented on #338
It's because of this code here: https://github.com/Shopify/shopify_app/blob/master/lib/shopify_app/sessions_concern.rb#L36

Maybe logout_url could be a setting.

Also what is your flow the results in the user logging out? I haven't built this into any of our apps so I am curious what it looks like.

[2016-08-30 23:59] travishaynes commented on #338
I agree. Devise implements this well with methods called something like `after_sign_out_path` and `after_sign_in_path` that you can override when necessary. Maybe we could do the same?

I don't actually use this myself, either, except in development, which is how I noticed it. I just thought it was an odd choice to redirect the user to an install page that renders inside of the admin panel after t

[2016-09-04 06:41] SylarRuby opened #339 "How to create a product with variants?"
Not an issue, just an how to.

I see that [Product has many variants association](https://help.shopify.com/api/reference/product_variant) but how to create a product with variants?

[code]

If I could:

[code]

How to get the product_id that was **just** created?

Was looking at:

[code]

But does not work.

[2016-09-05 09:10] SylarRuby opened #340 "Customers webhooks not firing"
My shopify_app.rb:

[code]

Creating/updating  products, I get back the webhook but not so with customers. I've reinstalled the app and same issue. If products work and customers not then, what?

[2016-09-05 12:55] #340 closed

[2016-09-05 19:44] #339 closed

[2016-09-06 14:08] kevinhughes27 commented on #339
Hey @SylarRuby can you give the issue template a read. Please only create issues on this repo for actual issues with ShopifyApp not ShopifyAPI or general how to questions. It adds a lot of noise for us and you'll actually get help if you post on the forum where as I won't answer this type of inquiry here. Thanks for understanding.

[2016-09-13 01:21] sshaw commented on #316
Any update on this? I can submit a PR with the quickness ⚡

[2016-09-13 13:34] kevinhughes27 commented on #316
I think submitting a PR is the best course here. We can understand the code better after we see it and continue the discussion on the PR.

[2016-09-14 02:58] sshaw commented on #316
PR here: #341

[2016-09-21 13:17] orenmazor commented on #161
:+1: opinionated

[2016-09-21 15:54] kevinhughes27 commented on #161
It'll be v8 now :p

[2016-09-22 21:32] Trimakas opened #345 "Could not find generator 'shopify_app:app_proxy_controller'"
I'm just creating a new app, and I wanted to use proxies, but when I run
`rails generate shopify_app:app_proxy_controller`

I get
`Could not find generator 'shopify_app:app_proxy_controller'`

All I've done is install the gem, the Shop model, and the other controllers..

[2016-09-23 15:37] kevinhughes27 commented on #345
what version of the gem? that generator is only in the lastest version

[2016-09-23 16:00] Trimakas commented on #345
Hmm, there might be a conflict between the versions of these gems. Are there any versions between 4.0.2 and 4.0.7?

shopify_api and the shopify_app gems..

shopify_api (4.0.7)
      activeresource
      rack
shopify_app (7.0.2)
      omniauth-shopify-oauth2 (~> 1.1.11)
      rails (>= 4.2, < 5.0)
      shopify_api (~> 4.0.2)

[2016-09-23 16:02] kevinhughes27 commented on #345
latest version of ShopifyApp is `7.2.0`

[2016-09-23 16:02] #345 closed

[2016-09-23 16:18] Trimakas commented on #345
Ahh, thanks.. might want to update the Gem as I just downloaded it yesterday and that's the version I got..

[2016-09-23 16:21] kevinhughes27 commented on #345
The gem is updated and released. Bundler doesn't always fetch the latest depending on your project and system.

[2016-10-05 20:53] QuantumLeaper opened #347 "Generate Issue"
I'm new to this and am not too sure if this is a rails issue, or a Shopify issue. Using https://vimeo.com/130247240
 Anyhow, I cannot generate the necessary Shopify files utilizing:
`rails generate shopify_api --api_key=<KEY> --secret=<SECRET>`
After executing that I end up with:

[code]

[2016-10-05 21:14] alanhill commented on #347
You'll want to run `rails generate shopify_app --api_key <KEY> --secret <SECRET>`.
 `shopify_app` vs. `shopify_api`.

I can run the command without any issues for Rails 5 so this leads me to believe there's an issue elsewhere in your app.

[2016-10-05 21:15] alanhill commented on #347
Do you have any other info that leads you to believe there's a bug in the Gem?

[2016-10-05 21:23] alanhill commented on #347
Also looking at the stack trace it looks like it's pointing to line 3 of application.rb which in a freshly generated rails application using rails 5 is `require 'rails/all'`.

It seems like the issue is isolated to your apps set up - going to close this issue. Feel free to re-open if you have any evidence suggesting otherwise!

I'd also recommend our [API forums](https://ecommerce.shopify.com/c/sh

[2016-10-05 21:23] #347 closed

[2016-10-08 08:15] SylarRuby opened #348 "Cannot login from sub-directory"
I have seen that this issue was mentioned in https://github.com/Shopify/shopify_app/issues/154, was merged but still open. I face the same issue  with this gem on Rails 5.

My routes:

[code]

Now I log in from `/dashboard/login`. Once logged in, I get `Oauth error invalid_request: The redirect_uri is missing or not whitelisted` dispite I edited the app's `Redirection URL` in Shopify to `https://w

[2016-10-11 13:57] #154 closed

[2016-10-11 13:58] kevinhughes27 commented on #348
I would double check the redirect uri settings in the partner dashboard. Otherwise you'll have to see where you are being redirected and compare.

[2016-10-13 02:55] rafasegat commented on #329
Did someone fix that?

Its displaying this error...

`NoMethodError: undefined method `redirect_uri=' for #<ShopifyApp::Configuration:0x007f91ded3e9e8>`

When `git push heroku master`

[2016-10-13 14:23] kevinhughes27 commented on #329
That setting was removed several versions ago. You no longer need to set this in your config just make sure your api client is setup properly.

[2016-10-13 17:12] rafasegat commented on #329
I got it.

Thanks

[2016-10-14 02:53] sshaw commented on #316
Closing as #341 has been merged into master.

[2016-10-14 02:53] #316 closed

[2016-10-15 14:56] SylarRuby commented on #348
I'll update on this later. Thanks

[2016-10-16 00:03] adamw005 commented on #329
I'm also running into 'Oauth error invalid_request: The redirect_uri is missing or not whitelisted'. I'm running 7.2.0 shopify_app with 4.2.3 shopify_api. Is there nowhere to set the redirect_uri now?

' just make sure your api client is setup properly.'
How can I check this?

[2016-10-17 14:24] kevinhughes27 commented on #329
In your [partner dashboard](https://app.shopify.com/services/partners) there are settings for your api clients.

[2016-10-20 15:03] EiNSTeiN- commented on #192
Closing since this is probably not an actionable issue

[2016-10-20 15:03] #192 closed

[2016-10-20 15:04] #142 closed

[2016-10-20 15:05] #158 closed

[2016-10-20 15:25] EiNSTeiN- commented on #204
An additional problem with using the signed parameters from Shopify is that they are not always available (if the user clicks on a link inside your app, the next request won't have them) so it is not 100% stateless, you still need to maintain a session (unless your app has a single page...). For non-embedded app these parameters are also available only on the very first redirect from Shopify, not

[2016-10-20 15:25] #204 closed

[2016-10-20 15:29] EiNSTeiN- commented on #230
I'm going to close this issue since I think the original issue was fixed by #243.
* For any new issue in existing Shopify apps, they can be reported through our support.
* For any new issue with this gem specifically, open a  new issue in github describing the problem.

[2016-10-20 15:29] #230 closed

[2016-10-20 17:03] EiNSTeiN- opened #350 "Improvements to session handling"
I'm opening this issue to offer visibility and track some upcoming changes to session handling in this gem.
- [ ] Better multi-tenant support. Since shopify is a multi-tenant platform, apps must support merchants who are logged into their app from multiple stores at the same time, and this app does not make that easy. I'd like to make this work better out-of-the-box by scoping routes with a unique

[2016-10-24 15:55] ebbflowgo commented on #262
I came across the same, I was using the refresh token instead of the secret token :D

[2016-10-29 13:56] ebbflowgo commented on #348
@SylarRuby I see the same, would you happen to have any updates on this?

[2016-10-31 14:14] kevinhughes27 commented on #348
You might need to make some specific edits in the omniauth initializer that is generated for you. The omniauth readme might help. Please post back on this issue if you figure it out!

[2016-11-02 17:00] JamesCropcho opened #351 "Shopify.AppMessenger failed to parse JSON {"message": "Shopify.API.Bar.error.404"}"
Hello,

I have followed the instructions at https://help.shopify.com/api/sdks/embedded-app-sdk/features#error-pages and placed the appropriate script on my 404 page.

Happily, when navigating to a nonsense URI, I get a nice "404 - Page not found" atop my app and the loading indicator disappears. However, I also get a `Shopify.AppMessenger failed to parse JSON {"message": "Shopify.API.Bar.error.404

[2016-11-03 10:31] QuAzI opened #352 "Bundler could not find compatible versions for gem "activemodel""
Shopify require Ruby >= 2.2.2
My version is `ruby 2.2.5p319 (2016-04-26 revision 54774) [x86_64-linux]`.
But dependencies still cannot be resolved. How can I solve that?
[code]

[2016-11-03 10:36] QuAzI commented on #352
I miss
[code]

[2016-11-03 10:36] #352 closed

[2016-11-14 17:45] tonycchung opened #354 "Example app uses wrong config in initializer"
The example app is locked to `~> 7.0.0` for the `shopfiy_app` gem. Unfortunately this version doesn't have `application_name` as an `attr_accessor` in the configuration yet the initializer is trying to set the config in the initializer.

Perhaps the shopify gem and rails versions need to be bumped or the optional config removed from the initializer.

[2016-11-14 18:41] kevinhughes27 commented on #354
The example should be updated. The example is not intended to be ran though its just there for browsing. The source of truth is what happens when the generator is run.

[2016-11-14 19:06] tonycchung commented on #354
Ah. Yeah ran into some other issues trying to run the example app as well. It's a bit confusing as the README.md in the example looks like it gives instructions to actually run the sample app - perhaps it could updated to reflect that it's simply source code that can be browsed.

[2016-11-14 19:12] kevinhughes27 commented on #354
The full history is it used to be a fully separate repo and that confused even more people. I moved in here to try and fix some of that confusion but it still happens from time to time. Ideally it would be runnable but its secondary to the generator.

There is some example code in there about how to use the ESDK or else we could delete the entire folder and only have the generator. The ESDK exampl

[2016-11-17 19:53] acoustic86 commented on #271
Kevin, I'm a newbie at this, could you please give a code example of how one would check if the webhook has been created. I tried pasting this into the browser: "https://<api_key>:<secret>@<shop_name>.myshopify.com/admin/webhooks.json" and it still getting "{"webhooks":[]}" even after following your tutorial here https://www.youtube.com/watch?v=uYueG-MsMRk almost verbatim. The only difference was

[2016-11-17 19:57] kevinhughes27 commented on #271
The admin endpoint in the browser will only show webhooks that belong to the shop. If you want to see the webhooks that belong to your API Client you need to make an API call to fetch them.

The quickest way to do this to update the example controller that is generated to fetch webhooks instead of products.

[2016-11-17 20:18] acoustic86 commented on #271
Thank you so much, Kevin! For other newbies like me who follow Kevin's webhooks tutorial, here is the the line to add to the Home Controller (index action):
`@webhooks = ShopifyAPI::Webhook.find(:all, :params => {:limit => 10})`

And then modify the view to display the webhooks:

`<h2>Webhooks</h2>

<ul>
  <% @webhooks.each do |webhook| %>
   <li><%= link_to webhook.id, "https://#{@shop_session.ur

[2016-11-24 18:12] EddyRemy opened #355 "App is not updating store visitor information in real-time!"

[2016-11-24 18:21] #355 closed

[2016-11-24 18:23] EiNSTeiN- commented on #355
Closing this issue since it's not the correct repo!

[2016-11-27 11:09] ashmaroli opened #356 "App generates incorrect configuration if options include whitespace"
### Environment:
**Rails Version**: 5.0.0.1
**Ruby**: ruby 2.3.1p112 (2016-04-26 revision 54768) [i386-mingw32]
**ShopifyApp Version**: 7.2.0

### Steps to reproduce bug:
[code]

### Expected Result:
[code]

### Actual Result:
[code]

[2016-11-27 11:25] ashmaroli commented on #356
Confirmed by Travis in #357

[2016-11-27 23:37] buggy commented on #356
I don't think this is really a bug. It's pretty standard to enclose parameters in quotes when you need spaces in them.

`rails g shopify_app --api_key 123456 --secret 654321 --scope "read_orders, read_products, write_products" --application_name "Test App"`